<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>		
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
		<link rel="stylesheet" href="static/header-login-signup.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="static/jscripts.js"></script>
		<link rel="stylesheet" href="static/index_style.css">
		<title>Conexión salud</title>		 
	</head>		
	
	<body onload="logval()">
	<div class="wrapper">
		<script type="text/javascript">   
			var LogVal = {{LogFlag|safe}}           
		</script>
		<div class="topnav">
			<div class="logo_nav">
					<img src="static/logos/banner-encuesta.png" class="img-responsive">
			</div>
		</div>
		<div class="topnav" id="myTopnav">				
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/modulos">Encuesta</a></li>
			<li><a href="/instructivo">Tutorial</a></li>
			<li><a href="/contacto">Contacto</a></li>
			<!-- <li><a href="/faqs">Preguntas frecuentes</a></li> -->
			<li><a id="vallog">&#9919; Ingresar</a></li>
			<li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>	
		</ul>	
		</div>
		<div  class="idx_sty">		
		
			<p class="title">Correo electrónico</title></p>
			<img src="static/logos/ico_mail.png" class="img-responsive">					
			<p style="font-size:20px">conexionsalud@udea.edu.co</p>
			
			<p class="title">Teléfono</title></p>
			<img src="static/logos/ico_phone.png" class="img-responsive">
			<p style="font-size:20px;text-align:left">Tel: 57(4) + 5906006 (Opción 5)</p>
			
			<p class="title">Redes sociales</p>
			<a  href="https://www.facebook.com/conexionsalud2018/" class="fa fa-facebook"
			style="
			color:white;
			padding: 20px;
			font-size: 30px;
			width: 65px;
			text-align: center;
			text-decoration: none;
			border-radius: 10px 10px;">
			<a href="https://twitter.com/ConexionSalud_" class="fa fa-twitter"
			style="			
			color:white;
			padding: 20px;
			font-size: 30px;
			width: 65px;
			text-align: center;
			text-decoration: none;
			margin: 5px 2px;
			border-radius: 10px 10px;"></a>
		</div>
	</body>
</html>