<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>		
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
		<link rel="stylesheet" href="static/header-login-signup.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="static/jscripts.js"></script>
		<link rel="stylesheet" href="static/index_style.css">
		<title>Conexión salud</title>		 
	</head>		
	
	<body onload="logval()">
	<div class="wrapper">
		<script type="text/javascript">   
			var LogVal = {{LogFlag|safe}}           
		</script>
		<div class="topnav">
			<div class="logo_nav">
					<img src="static/logos/banner-encuesta.png" class="img-responsive">
			</div>
		</div>
		<div class="topnav" id="myTopnav">				
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/modulos">Encuesta</a></li>
			<li><a href="/instructivo">Tutorial</a></li>
			<li><a href="/contacto">Contacto</a></li>
			<!-- <li><a href="/faqs">Preguntas frecuentes</a></li> -->
			<li><a id="vallog">&#9919; Ingresar</a></li>
			<li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>	
		</ul>	
		</div>
		<form  class="idx_sty">							
			<p class="title">Correo electrónico</title></p>
			<p>conexionsalud@udea.edu.co</p>
			<p class="title">Teléfono</title></p>
			<p>5906006 (Opción 5)</p>	
			<p class="title">Redes sociales</title></p>
			<p>Facebook: <a href="https://www.facebook.com/conexionsalud2018/">Conexión salud</a></p>	
			<p>Twitter: <a href="https://twitter.com/ConexionSalud_">Conexión salud</a></p>			
		</form>
	</body>
</html>