<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>

		<link rel="stylesheet" href="static/index_style.css">
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
		<link rel="stylesheet" href="static/header-login-signup.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="static/jscripts.js"></script>
		<title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>		 
	</head>		
	
	<body>
		<div class="topnav" id="myTopnav">	
			<logo>
				<img src="static/Logos_header.png" width="50%" class="img-responsive">
			</logo>		
			<a href="/Registrar_IPS" >Registrar IPS</a>
			<a href="#">Ingresar</a>
			<a href="javascript:void(0);" class="icon" onclick="toggle_menu()">&#9776;</a>
		</div>

		<div class="wrapper">		
				<p class="title">Nivel de madurez del ecosistema de TIC en las IPS públicas</title></p>
			<form  class="idx_sty">						
				
				<p>
					La información ha diligenciar en esta encuesta busca caracterizar el nivel de madurez del ecosistema de Tecnologías de la Información y las Comunicaciones – TIC - en las Instituciones Prestadoras de Servicios de Salud - IPS - de la red pública nacional en Colombia. Esta información será la línea base para la formulación de políticas públicas y la toma de decisiones sectoriales en pro del fortalecimiento y la mejora en la prestación de los servicios de salud en el país.
				</p>
			</form>
		</div>
	</body>
</html>