<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>


    <!-- Funciones javascript -->
    <script type="text/javascript">
        //Diccionario de "Departamentos" y "Municipios" creados en Python.
        var cityLists = {{cities|safe}}
        function setcity(val)
        {

                //Obtener indice del "Departamento" en el arreglo "cityLists"
                var idx = val.selectedIndex;
                //Obtener arreglo de "Municipios" a partir del valor seleccionado
                var which = val.options[idx].value;
                cList = cityLists[which];

                var cSelect = document.getElementById("city");
                var len=cSelect.options.length;
                while (cSelect.options.length > 0) {
                cSelect.remove(0);
                }
                 var newOption;
                 //Crear nuevas opciones con los "Municipios"
                for (var i=0; i<cList.length; i++)
                {
                    newOption = document.createElement("option");
                    newOption.value = cList[i];
                    newOption.text = cList[i];

                    try
                    {
                        cSelect.add(newOption);  //this will fail in DOM browsers but is needed for IE
                    }
                    catch (e)
                    {
                        cSelect.appendChild(newOption);
                    }
                }
            }
    </script>
    <!-- Funciones javascript -->

    <div class="jumbotron text-center">
      <h2>Estudio sobre el nivel de madurez del <br> ecosistema de TIC en las IPS públicas</h2>
    </div>

    <!--Logos en la parte superior -->
    <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="static/udea.jpg" width="25%">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
         <img src="static/colciencias.png"  width="30%">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
         <img src="static/mintic.png"  width="100%">
      </div>
    </div>
    <!--Logos en la parte superior -->


    <h3>Datos iniciales</h3>

    <form  action="" method="post">
        <!-- COMIENZA: Campos: Nombre IPS  y NIT -->
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
            <!--Campo para el Nombre de la IPS -->
              <label for="name">Nombre de la IPS:</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Nombre de la IPS" required>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
            <!--Campo para el NIT -->
              <label for="nit">NIT</label>
              <input type="tel" class="form-control" id="nit" name="nit" placeholder="NIT" required>
            </div>
            <!-- Campo para caracter de la IPS-->
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
              <label for="car">Caracter de la IPS</label>
                <select name="car" required>
                    <option id="car" name="car" value="0">Seleccionar</option>
                    <option id="car" name="car" value="departamental">Departamental</option>
                    <option id="car" name="car" value="distrital">Distrital</option>
                    <option id="car" name="car" value="indigena">Indigena</option>
                    <option id="car" name="car" value="municipal">Municipal</option>
                    <option id="car" name="car" value="nacional">Nacional</option>
                </select>
            </div>
        </div>
        <!-- TERMINA: Campos: Nombre IPS, NIT, caracter -->

        <br>

        <!-- COMIENZA: Campos: nombre gerente, Nivel y habilitada -->
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
                <label for="ger">Nombre del gerente</label>
                <input type="text" class="form-control" id="ger" name="ger" placeholder="Nombre del gerente" required>
            </div>
            <!-- campo para Nivel de la IPS -->
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
              <label for="niv">Nivel de la IPS</label><br>
              <input type="radio" id="opt_niv1" name="nivel" value="1"> 1
              <input type="radio" id="opt_niv2" name="nivel" value="2"> 2
              <input type="radio" id="opt_niv3" name="nivel" value="3"> 3
              <input type="radio" id="opt_niv4" name="nivel" value="4"> 4
            </div>
            <!-- Campo para IPS habilitada -->
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
              <label for="hab">Habilitada</label><br>
              <input type="radio" id="opt_hab1" name="habil" value="1"> Si
              <input type="radio" id="opt_hab2" name="habil" value="0"> No
            </div>
        </div>
        <!-- TERMINA: nombre gerente, Nivel y habilitada -->

        <br>

        <!-- COMIENZA: Campos: Departamento, ciudad -->
        <div class = "row">
            <!-- Campo para departamento -->
            <div class = "col-sm-4 col-md-6">
              <label for = "dpto">Departamento</label>
                <select id = "dpto" name = "dpto" onchange=setcity(this)>
                <option  value = 0>Seleccionar</option>
                {% for value in dptos %}
                    <option  value = {{value}}>{{value}}</option>
                {% endfor %}
                </select>
            </div>
            <!-- Campo para ciudad -->
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
              <label for="city">Ciudad</label><br>
                <select id="city" name="city">
                    <option  value ="0">Seleccionar</option>
                </select>
            </div>
        </div>
        <!-- TERMINA: Campos: Departamento, ciudad -->

        <br>

        <!-- COMIENZA: Campos: Telefono, email, direccion -->
        <div class="row">
            <!-- campo para telefono -->
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
              <label for="tel">Teléfono de la IPS</label>
              <input type="tel" class="form-control" id="tel" name="tel" placeholder="Teléfono de la IPS" required>
            </div>
            <!-- campo para email -->
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
              <label for="email">Email de la IPS:</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@mail.com" required>
            </div>
            <!-- Campo para direccion -->
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
              <label for="addr">Dirección de la IPS</label>
              <input type="text" class="form-control" id="addr" name="addr" placeholder="Dirección de la IPS" required>
            </div>
        </div>
        <!-- TERMINA: Campos: telefono, email, direccion -->

        <br>

        <!-- COMIENZA: Campos: responsable encuesta, id y cargo -->
        <div class="row">
            <!-- campo nombre responsable -->
                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
              <label for="username">Responsable de la encuesta</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de responsable">
            </div>
            <!-- campo id -->
                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
              <label for="userid">Cedula de ciudadania</label>
              <input type="tel" class="form-control" id="userid" name="userid" placeholder="C.C">
            </div>
            <!-- campo cargo -->
                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
              <label for="userjob">Cargo que desempeña en la IPS</label>
              <input type="text" class="form-control" id="userjob" name="userjob" placeholder="Cargo">
            </div>
        </div>
        <!-- TERMINA: Campos: responsable encuesta, id y cargo -->

        <br>

        <!-- Boton para continuar a la encuesta -->
        <button type="button" class="btn btn-success" href="{{ url_for('preguntas') }}">Continuar a la encuesta</button>

        <!-- Boton para ver resultados -->
        <button type="button" class="btn btn-success" href="/dashboard.html">Ver los resultados</button>
    </form>

    <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

<br>
</div>
</body>
</html>
