<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
		
		<link rel="stylesheet" href="static/login_style.css">
       	<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>		 
    </head>		

    <!-- Funciones javascript -->
    <script type="text/javascript">
        //Diccionario de "Departamentos" y "Municipios" creados en Python.
        var cityLists = {{cities|safe}}
        function setlist(val,elm_id)
        {
                //Obtener indice del "Departamento" en el arreglo "cityLists"
                var idx = val.selectedIndex;
                //Obtener arreglo de "Municipios" a partir del valor seleccionado
                var which = val.options[idx].value;
                cList = cityLists[which];

                var cSelect = document.getElementById(elm_id);
                var len = cSelect.options.length;
                while (cSelect.options.length > 0) {
                cSelect.remove(0);
                }

				//Crear lista de cuidades
                var newOption;
				//Crear opción por defecto
				newOption = document.createElement("option");
				newOption.value = "";
				newOption.text = "Seleccionar";
				try
                    {
                        cSelect.add(newOption);  //this will fail in DOM browsers but is needed for IE
                    }
				catch (e)
                    {
                        cSelect.appendChild(newOption);
                    }
				//Crear lista de municipios
                for (var i=0; i<cList.length; i++)
                {
                    newOption = document.createElement("option");
                    newOption.value = cList[i];
                    newOption.text = cList[i];

                    try
                    {
                        cSelect.add(newOption);  //this will fail in DOM browsers but is needed for IE
                    }
                    catch (e)
                    {
                        cSelect.appendChild(newOption);
                    }
                }
            }
    </script>
    <!-- Funciones javascript -->

	<body>
		<div class="wrapper">	
			<div class="jumbotron text-center">
				<h2>Estudio sobre el nivel de madurez del <br> ecosistema de TIC en las IPS públicas</h2>
				<br>
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<img src="static/udea.jpg" width="30%">
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<img src="static/colciencias.png"  width="40%">
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<img src="static/mintic.png"  width="100%">
					</div>
				</div>
			</div>

			<form  action="registro" class="login" method="post" >
				<div class="row">
					<p class="title">Registrar IPS</p>
					<label for="reg_dpto">Seleccione su Departamento</label>
					<br>
					<select id="reg_dpto" name="reg_dpto" onchange="setlist(this,'reg_city')" required>
						<option  value = "">Seleccionar</option>
						{% for value in dptos %}
							<option  value = "{{value}}">{{value}}</option>
						{% endfor %}
					</select> 					
					<br>
					<!-- Campo para ciudad -->
					<label for="reg_city">Seleccione su Municipio</label>
					<br>
					<select id="reg_city" name="reg_city" required>
						<option  value ="">Seleccionar</option>
					</select>
					<button type="submit" class="state">Ingresar</button>
				</div>
			</form>
		</div>
	</body>
</html>