<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<link rel="stylesheet" href="static/header-login-signup.css">
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
		<link rel="stylesheet" href="static/header-login-signup.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="static/index_style.css">
		<script src="static/jscripts.js"></script>
		<title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>		 
	</head>		
	
	<body onload="logval()">      
		<div class="wrapper">
			<div class="topnav">
				<div class="logo_nav">
					<a href="/">
						<img src="static/logos/logos.png" class="img-responsive">
					</a>	
				</div>
			</div>
			<div class="topnav" id="myTopnav">				
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/">Tutorial</a></li>
					<li><a href="/">Contacto</a></li>
					<li><a href="/">Preguntas frecuentes</a></li>
					<li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>	
				</ul>	
			</div>
            <form  action="Ingresar" class="login" method="post" >
				<p class="title">Ingresar <font color="red">{{error}}</font></p>
				<p>Ingrese el usuario contraseña que le fueron enviados por correo</p>
                <label>Usuario</label>
                <input type="text" id="usrlog" name="usrlog" placeholder="Escriba su usuario" required>
                <br>
                <label>Contraseña</label>
                <input type="password" id="passlog" name="passlog" placeholder="Escriba su contraseña" required>
                <br>
				<!-- COMIENZA: Botones -->
				<div class="row">
					<!-- Boton para continuar a la encuesta -->
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<button type="submit" class="button">Conectar</button>						
						<input type=hidden value="{{ next or '' }}" name="next">
					</div>
				</div>
            </form>	
		</div>
	</body>
</html>