<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
		
		<link rel="stylesheet" href="static/login_style.css">
       	<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="static/jscripts.js"></script>
		<title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>		 
    </head>	
	<body>
	
		<div class="wrapper">	
			<div class="jumbotron text-center">
				<h2>Estudio sobre el nivel de madurez del <br> ecosistema de TIC en las IPS públicas</h2>
				<br>
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<img src="static/udea.jpg" width="30%">
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<img src="static/colciencias.png"  width="40%">
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<img src="static/mintic.png"  width="100%">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>