<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Conexión salud</title>
  <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
  <link rel="stylesheet" href="static/bootstrap-theme.min.css">
  <link rel="stylesheet" href="static/radio_checks.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="static/index_style.css">
  <script src="static/jscripts.js"></script>
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/header-login-signup.css">
</head>
	<body>
  <!-- Funciones javascript -->
		<div class="wrapper">
      <div class="topnav">
        <div class="logo_nav">
            <img src="static/logos/banner-encuesta.png" class="img-responsive">
        </div>
      </div>
        <div class="topnav" id="myTopnav">				
          <ul>
              <li><a href="/">Inicio</a></li>
            <li><a href="/adminips_{{userid}}">Progreso encuesta</a></li>
            <li><a href="/instructivo">Tutorial</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <!-- <li><a href="/faqs">Preguntas frecuentes</a></li> -->
            <li><a href="/logout">&#9949; Cerrar Sesión</a></li>
            <li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>	
          </ul>	
        </div>
      <form enctype=multipart/form-data action="preguntas_mod1" class="register" method="post">
        <p class="title">Seleccione al personal de la IPS encargado de responder cada uno de los módulos de la encuesta</p>

        <br><hr>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <!-- <a href="/preguntas_mod1"> -->
              <h2>MÓDULO 1: Descripción de la Institución de Salud
              <!-- </a> -->
              <!-- <a data-toggle="tooltip" title="Este módulo debe responderlo el gerente de la insitución "><i class="fa fa-question-circle" style=font-size:24px></i></a> -->
            </h2>
            <p>Este módulo debe responderlo el gerente de la insitución</p>
          </div>
        </div>
        <p class="title">
          <font color="red">{{message[0]}}</font>
        </p>
        <!-- <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label for="nombre">Nombre y apellidos</label>
		          <br>
            <input type="text"  id="gerente" name="nombre1" placeholder="Nombre" >
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label for="email">Correo electrónico:</label>
		          <br>
            <input type="text"  id="email1" name="email1" placeholder="ejemplo@mail.com" >
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label for="cargo">Cargo</label>
		          <br>
            <input type="text"  id="cargo" name="cargo1" placeholder="Cargo" >
          </div>
      </div> -->
      <div class="row">
        <!-- Boton para continuar a la encuesta -->
        <!-- <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <button type="submit" class="state" name="Enviar" formaction="modulos">Enviar</button>
        </div> -->
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <button type="submit" class="state" name="Diligenciar" formaction="preguntas_mod1">Diligenciar</button>
        </div>
    </div>
      <br><hr>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- <a href="/preguntas_mod2"> -->
          <h2>
            MÓDULO 2. Infraestructura TIC
          <!-- </a> -->
          <!-- <a  data-toggle="tooltip" title="Este módulo contiene preguntas relacionadas con el manejo de historia clinica digital por parte de la IPS, debe responderlo personal médico especializado, o profesionales del area de TICs de su IPS"><i class="fa fa-question-circle" style=font-size:24px></i></a> -->
        </h2>
        <p>Este módulo contiene preguntas relacionadas con el manejo de historia clinica digital por parte de la IPS, debe responderlo personal médico especializado, o profesionales del area de TICs de su IPS</p>
            </div>
      </div>
        <p class="title">
          <font color="red">{{message[1]}}</font>
        </p>
      <!-- <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <label for="nombre">Nombre y apellidos</label>
            <br>
          <input type="text"  id="nombre_mod2" name="nombre2" placeholder="Nombre" >
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <label for="email">Correo electrónico:</label>
            <br>
          <input type="text"  id="email2" name="email2" placeholder="ejemplo@mail.com" >
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <label for="cargo">Cargo</label>
            <br>
          <input type="text"  id="cargo" name="cargo2" placeholder="Cargo" >
        </div>
    </div> -->

    <div class="row">
      <!-- Boton para continuar a la encuesta -->
      <!-- <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <button type="submit" class="state" name="Enviar" formaction="modulos">Enviar</button>
      </div> -->
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <button type="submit" class="state" name="Diligenciar" formaction="preguntas_mod2">Diligenciar</button>
      </div>
    </div>

    <br><hr>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <!-- <a href="/preguntas_mod3"> -->
        <h2>MÓDULO 3: Servicios electrónicos
        <!-- </a> -->
        <!-- <a  data-toggle="tooltip" title="Este módulo contiene preguntas relacionadas con el estado de conectividad de la IPS, debe responderlo profesionales del area de TICs de su IPS"><i class="fa fa-question-circle" style=font-size:24px></i></a> -->
      </h2>
      Este módulo contiene preguntas relacionadas con el estado de conectividad de la IPS, debe responderlo profesionales del area de TICs de su IPS
    </div>
    </div>
    <p class="title">
      <font color="red">{{message[2]}}</font>
    </p>
    <!-- <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label for="nombre">Nombre y apellidos</label>
          <br>
        <input type="text"  id="nombre_mod3" name="nombre3" placeholder="Nombre" >
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label for="email">Correo electrónico:</label>
          <br>
        <input type="text"  id="email3" name="email3" placeholder="ejemplo@mail.com" >
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label for="cargo">Cargo</label>
          <br>
        <input type="text"  id="cargo" name="cargo3" placeholder="Cargo" >
      </div>
  </div> -->
  <div class="row">
    <!-- Boton para continuar a la encuesta -->
    <!-- <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
      <button type="submit" class="state" name="Enviar" formaction="modulos">Enviar</button>
    </div> -->
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
      <button type="submit" class="state" name="Diligenciar" formaction="preguntas_mod3">Diligenciar</button>
    </div>
  </div>

  <br><hr>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- <a href="/preguntas_mod4"> -->
        <h2>MÓDULO 4. Seguridad de la Información
        <!-- </a> -->
        <!-- <a data-toggle="tooltip" title="Este módulo contiene preguntas relacionadas los servicios electrónicos y almacenamiento de datos de pacientes de la IPS, debe responderlo profesionales del area de la salud o del area de TICs de su IPS"><i class="fa fa-question-circle" style=font-size:24px></i></a> -->
      </h2>
      <p>Este módulo contiene preguntas relacionadas los servicios electrónicos y almacenamiento de datos de pacientes de la IPS, debe responderlo profesionales del area de la salud o del area de TICs de su IPS</p>
    </div>
  </div>
  <p class="title">
    <font color="red">{{message[3]}}</font>
  </p>

  <!-- <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <label for="nombre">Nombre y apellidos</label>
        <br>
      <input type="text"  id="nombre_mod4" name="nombre4" placeholder="Nombre" >
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <label for="email">Correo electrónico:</label>
        <br>
      <input type="text"  id="email4" name="email4" placeholder="ejemplo@mail.com" >
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <label for="cargo">Cargo</label>
        <br>
      <input type="text"  id="cargo" name="cargo4" placeholder="Cargo" >
    </div>
</div> -->
<div class="row">
  <!-- Boton para continuar a la encuesta -->
  <!-- <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
    <button type="submit" class="state" name="Enviar" formaction="modulos">Enviar</button>
  </div> -->
  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
    <button type="submit" class="state" name="Diligenciar" formaction="preguntas_mod4">Diligenciar</button>
  </div>
</div>

<br><hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!-- <a href="/preguntas_mod5"> -->
    <h2>MÓDULO 5. Estándares e Interoperabilidad 
      <!-- </a> -->
    <!-- <a data-toggle="tooltip" title="Este módulo contiene preguntas relacionadas con el manejo de historia clinica digital de los pacientes. Debe responderlo un profesional del area de la salud de la IPS"><i class="fa fa-question-circle" style=font-size:24px></i></a> -->
</h2>  
<p>Este módulo contiene preguntas relacionadas con el manejo de historia clinica digital de los pacientes. Debe responderlo un profesional del area de la salud de la IPS</p>
</div>
</div>

<p class="title">
  <font color="red">{{message[4]}}</font>
</p>
<!-- <div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <label for="nombre">Nombre y apellidos</label>
      <br>
    <input type="text"  id="nombre_mod5" name="nombre5" placeholder="Nombre" >
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <label for="email">Correo electrónico:</label>
      <br>
    <input type="text"  id="email5" name="email5" placeholder="ejemplo@mail.com" >
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <label for="cargo">Cargo</label>
      <br>
    <input type="text"  id="cargo" name="cargo5" placeholder="Cargo" >
  </div>
</div> -->
<div class="row">
  <!-- Boton para continuar a la encuesta -->
  <!-- <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
    <button type="submit" class="state" name="Enviar" formaction="modulos">Enviar</button>
  </div> -->
  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
    <button type="submit" class="state" name="Diligenciar" formaction="preguntas_mod5">Diligenciar</button>
  </div>
</div>

<br><hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!-- <a href="/preguntas_mod6"> -->
    <h2>MÓDULO 6. Capacitación
    <!-- </a> -->
    <!-- <a data-toggle="tooltip" title="Este módulo contiene preguntas relacionadas con Estándares técnicos asociados con la historia clínica digital, incluyendo estándares de formato y contenido de la información, estándares de codificación de información clínica, patologías, procedimientos. Debe responderlo un profesional del area de la salud de la IPS o el encargado del manejo de Tecnologías de la información de la IPS"><i class="fa fa-question-circle" style=font-size:24px></i></a> -->
  </h2>
<p>Este módulo contiene preguntas relacionadas con Estándares técnicos asociados con la historia clínica digital, incluyendo estándares de formato y contenido de la información, estándares de codificación de información clínica, patologías, procedimientos. Debe responderlo un profesional del area de la salud de la IPS o el encargado del manejo de Tecnologías de la información de la IPS</p>
</div>
</div>

<p class="title">
  <font color="red">{{message[5]}}</font>
</p>

<!-- <div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <label for="nombre">Nombre y apellidos</label>
      <br>
    <input type="text"  id="nombre_mod6" name="nombre6" placeholder="Nombre" >
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <label for="email">Correo electrónico:</label>
      <br>
    <input type="text"  id="email6" name="email6" placeholder="ejemplo@mail.com" >
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <label for="cargo">Cargo</label>
      <br>
    <input type="text"  id="cargo" name="cargo6" placeholder="Cargo" >
  </div>
</div> -->
<div class="row">
  <!-- Boton para continuar a la encuesta -->
  <!-- <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
    <button type="submit" class="state" name="Enviar" formaction="modulos">Enviar</button>
  </div> -->
  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
    <button type="submit" class="state" name="Diligenciar" formaction="preguntas_mod6">Diligenciar</button>
  </div>
</div>

<br><hr>
      </form>

		</div>
	</body>
</html>
