<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Conexión salud</title>
  <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
  <link rel="stylesheet" href="static/bootstrap-theme.min.css">
  <link rel="stylesheet" href="static/radio_checks.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="static/index_style.css">
  <script src="static/jscripts.js"></script>
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/header-login-signup.css">
</head>

<body>
    
		<div class="wrapper">
      <div class="topnav">
        <div class="logo_nav">
            <img src="static/logos/banner-encuesta.png" class="img-responsive">
        </div>
      </div>


        <div class="topnav" id="myTopnav">				
          <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="/registro">Registro</a></li>
              <li><a href="/adminips_{{userid}}">Progreso encuesta</a></li>
              <li><a href="/instructivo">Tutorial</a></li>
              <li><a href="/contacto">Contacto</a></li>
              <!-- <li><a href="/faqs">Preguntas frecuentes</a></li> -->
              <li><a href="/logout">&#9949; Cerrar Sesión</a></li>
              <li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>	
          </ul>	
        </div>


      <form enctype=multipart/form-data action="preguntas_mod1" class="register" method="post">
        <p class="title">BIEVENIDOS A LA ENCUESTA DEL PROYECTO CONEXIÓN SALUD.</p>
        <p>
        A continuación, usted encontrará 6 módulos que pueden ser diligenciados por el enlace de la IPS para el proyecto o por un colaborador, que tenga a cargo dichos temas en la institución.
        </p>
        <p>
        Por favor, antes de iniciar el diligenciamiento de la encuesta, registre los datos de la IPS en la pestaña "Registro" o ingrese <a style="text-underline-position: below" href="/registro">aquí</a>. 
        <p >
        Recuerde en caso de cualquier duda ponerse en <a style="text-underline-position: below" href="/contacto">contacto</a> con nosotros.</p>

        <hr>

      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>MÓDULO 1: Descripción de la Institución de Salud</h2>
        </div>
      </div>
      <p>Este módulo podría responderlo el gerente de la institución o el responsable del sistema de garantía de la calidad.</p>
      <br>
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- Progreso de la encuesta -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
          <div class="container" style="width:100%">
            <h4>Porcentaje respondido: {{perc_mod[0]}}%</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{perc_mod[0]}}" aria-valuemin="0" aria-valuemax="100" style="width:{{perc_mod[0]}}%">
                  {{perc_mod[0]}}
              </div>
            </div>
          </div>
      </div>
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div class="row">
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
          <button style="font-size:20px" type="submit" class="state" name="Diligenciar" formaction="preguntas_mod1">Comenzar</button>
        </div>
      </div>

      <br><hr>

      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2>MÓDULO 2. Infraestructura TIC</h2>        
        </div>
      </div>
      <p>Este módulo contiene preguntas relacionadas con el estado de conectividad de la IPS. Podría responderlo un profesional del área de TIC de su IPS.
      </p>      
      <br>  
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- Progreso de la encuesta -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
          <div class="container" style="width:100%">
            <h4>Porcentaje respondido: {{perc_mod[1]}}%</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{perc_mod[1]}}" aria-valuemin="0" aria-valuemax="100" style="width:{{perc_mod[1]}}%">
                  {{perc_mod[1]}}
              </div>
            </div>
          </div>
      </div>
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div class="row">
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
          <button style="font-size:20px" type="submit" class="state" name="Diligenciar" formaction="preguntas_mod2">Comenzar</button>
        </div>
      </div>

    <br><hr>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">        
        <h2>MÓDULO 3: Servicios electrónicos</h2>      
      </div>
    </div>
    <p>Este módulo contiene preguntas relacionadas con historia clínica digital y otros servicios electrónicos. Podría responderlo personal asistencial encargado de historia clínica, el responsable del sistema de garantía de calidad o profesionales del área de TIC de su IPS.</p>
    <br>
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- Progreso de la encuesta -->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        <div class="container" style="width:100%">
          <h4>Porcentaje respondido: {{perc_mod[2]}}%</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{perc_mod[2]}}" aria-valuemin="0" aria-valuemax="100" style="width:{{perc_mod[2]}}%">
                {{perc_mod[2]}}
            </div>
          </div>
        </div>
    </div>
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="row">
      <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
        <button style="font-size:20px" type="submit" class="state" name="Diligenciar" formaction="preguntas_mod3">Comenzar</button>
      </div>
    </div>

  <br><hr>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">        
        <h2>MÓDULO 4. Seguridad de la Información</h2>      
    </div>
  </div>
  <p>Este módulo contiene preguntas relacionadas con almacenamiento de datos y seguridad de información. Podría responderlo un profesional del área de TIC de su IPS.</p>
  <br>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <!-- Progreso de la encuesta -->
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
      <div class="container" style="width:100%">
        <h4>Porcentaje respondido: {{perc_mod[3]}}%</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{perc_mod[3]}}" aria-valuemin="0" aria-valuemax="100" style="width:{{perc_mod[3]}}%">
              {{perc_mod[3]}}
          </div>
        </div>
      </div>
  </div>
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <div class="row">
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
      <button style="font-size:20px" type="submit" class="state" name="Diligenciar" formaction="preguntas_mod4">Comenzar</button>
    </div>
  </div>

<br><hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!-- <a href="/preguntas_mod5"> -->
    <h2>MÓDULO 5. Estándares e Interoperabilidad</h2>  
  </div>
</div>
<p>Este módulo contiene preguntas relacionadas con la historia clínica digital y la interoperabilidad. Podría responderlo el profesional encargado de historia clínica en la institución.</p>
<br>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- Progreso de la encuesta -->
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
    <div class="container" style="width:100%">
      <h4>Porcentaje respondido: {{perc_mod[4]}}%</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{perc_mod[4]}}" aria-valuemin="0" aria-valuemax="100" style="width:{{perc_mod[4]}}%">
            {{perc_mod[4]}}
        </div>
      </div>
    </div>
</div>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="row">
  <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
    <button style="font-size:20px" type="submit" class="state" name="Diligenciar" formaction="preguntas_mod5">Comenzar</button>
  </div>
</div>

<br><hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>MÓDULO 6. Capacitación
  </h2>
</div>
</div>
<p>Este módulo contiene preguntas relacionadas con la capacitación en uso de tecnología. Podría responderlo el gerente, administrador, encargado del sistema de garantía de calidad.</p>
<br>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- Progreso de la encuesta -->
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
    <div class="container" style="width:100%">
      <h4>Porcentaje respondido: {{perc_mod[5]}}%</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{perc_mod[5]}}" aria-valuemin="0" aria-valuemax="100" style="width:{{perc_mod[5]}}%">
            {{perc_mod[5]}}
        </div>
      </div>
    </div>
</div>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="row">
  <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
    <button style="font-size:20px" type="submit" class="state" name="Diligenciar" formaction="preguntas_mod6">Comenzar</button>
  </div>
</div>

<br><hr>
      </form>

		</div>
	</body>
</html>
