<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
      <title>Conexión salud</title>
      <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
      <link rel="stylesheet" href="static/bootstrap-theme.min.css">
      <!-- <link rel="stylesheet" href="static/preg_style.css"> -->
      <link rel="stylesheet" href="static/radio_checks.css">		<link rel="stylesheet" href="static/header-login-signup.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="static/jscripts.js"></script>  
      <meta name="viewport" content = "width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <link rel="stylesheet" href="static/index_style.css">
    </head>

   <script>
	  

    function yesnoCheck(questionIDYesNO, questionIDYes, questionIDNO) {
      
      
      if (questionIDYesNO.checked) {
        $(questionIDYes).removeClass("hidden");
        $(questionIDNO).addClass("hidden");

      }

    }


   </script>

<body>
	<div class="wrapper">
		<script type="text/javascript">   
			var LogVal = {{LogFlag|safe}}           
		</script>
		<div class="topnav">
			<div class="logo_nav">
					<img src="static/logos/banner-encuesta.png" class="img-responsive">
			</div>
		</div>
		<div class="topnav" id="myTopnav">				
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/modulos">Encuesta</a></li>
			<li><a href="/instructivo">Tutorial</a></li>
			<li><a href="/contacto">Contacto</a></li>
			<!-- <li><a href="/faqs">Preguntas frecuentes</a></li> -->
			<li><a href="/logout">&#9949; Cerrar Sesión</a></li>
			<li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>	
		</ul>	
		</div>




  <form enctype=multipart/form-data class="register" method="post" id="form_mod4">
    <input type="submit" formaction="validar4" style="visibility: hidden; display: none;">
      <p class="title"> MÓDULO 4. Seguridad de la Información
    </p>



    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="question1"><h4>1. ¿Qué métodos técnicos utiliza para el control de la seguridad de la información?
          <a  data-toggle="tooltip" 
          onclick="alerta('Se refiere a las estrategias desarrolladas por la Institución o contratadas con terceros para preservar la información ante posibles pérdidas por ataques externos o imprevistos')">
          <i class="fa fa-question-circle" style=font-size:24px></i>
        </a>
      </h4>
    </label>
    <br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
       <input type="checkbox" class="option-input checkbox" id="question1_a" name="question1" value="Identificación y/o autenticación" > Identificación y/o autenticación<br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
       <input type="checkbox" class="option-input checkbox" id="question1_b" name="question1" value="Autorización y control de acceso " > Autorización y control de acceso <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="checkbox" class="option-input checkbox" id="question1_c" name="question1" value="Auditoria" > Auditoria<br>
       </div>
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="checkbox" class="option-input checkbox" id="question1_d" name="question1" value="Encriptación de la información in-situ " > Encriptación de la información in-situ<br>
       </div>
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="checkbox" class="option-input checkbox" id="question1_e" name="question1" value="Encriptación de la información en intercambio" > Encriptación de la información en intercambio <br>
       </div>
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="checkbox" class="option-input checkbox" id="question1_f" name="question1" value="Monitoreo de ataques cibernéticos" > Monitoreo de ataques cibernéticos<br>
       </div>

        <br>
      </div>
    </div>
    <br><hr>
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="question2"><h4>2. ¿La institución cuenta con alguna estrategia de seguridad, de recuperación de datos o respaldo de los datos electrónicos almacenados?
            <a  data-toggle="tooltip" 
            onclick="alerta('Se refiere a estrategias como contar con servidores propios o contratados exclusivamente para almacenar copias de la información, sistemas de cintas, discos duros, entre otros medios que proporcionen un respaldo a la información.')">
            <i class="fa fa-question-circle" style=font-size:24px></i></a></h4></label>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
       <input type="radio" class="option-input radio" id="q2question1" name="question2" value="SI" >SI<br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
       <input type="radio" class="option-input radio" id="q2question2" name="question2" value="NO" >NO<br>
      </div>
        <br>
      </div>
    </div>
    <br><hr>
    

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="question3"><h4>3. ¿Con cuáles de las siguientes herramientas para la seguridad electrónica de la información cuenta la institución de salud?
          <a  data-toggle="tooltip" 
          onclick="alerta('Se refiere al uso de herramientas como paquetes especiales de computador, equipos físicos instalados en la institución, contratos con empresas especializadas o restricciones para el uso de la red.')">
          <i class="fa fa-question-circle" style=font-size:24px></i>
        </a>
      </h4></label>
      <br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label><input type="checkbox" id="question3a" ondragover="" class="option-input checkbox" name="question3" value="Antispam y Antimalware (malware incluye virus, gusanos, troyanos, rootkits, spyware, hardware intrusivo o cualquier otro software malicioso)"> Antispam y Antimalware (malware incluye virus, gusanos, troyanos, rootkits, spyware, hardware intrusivo o cualquier otro software malicioso)</label><br>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label><input type="checkbox" id="question3b" ondragover="" class="option-input checkbox" name="question3" value="Firewall, IDS (sistema detección de intrusos), IPS (sistema prevención de intrusos), WAF (firewall de aplicaciones web)"> Firewall, IDS (sistema detección de intrusos), IPS (sistema prevención de intrusos), WAF (firewall de aplicaciones web)</label><br>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label><input type="checkbox" id="question3c" ondragover="" class="option-input checkbox" name="question3" value="Tecnología de protección de datos (criptográfica, bases de datos), DAM (monitoreo de acceso a datos), DLP (sistema de prevención de pérdida de datos)"> Tecnología de protección de datos (criptográfica, bases de datos), DAM (monitoreo de acceso a datos), DLP (sistema de prevención de pérdida de datos)</label><br>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label><input type="checkbox" id="question3d" ondragover="" class="option-input checkbox" name="question3" value="Tecnologías de autenticación (contraseñas, biometría, tokens, OTP, tarjetas inteligentes, certificados digitales)"> Tecnologías de autenticación (contraseñas, biometría, tokens, OTP, tarjetas inteligentes, certificados digitales)</label><br>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label><input type="checkbox" id="question3g" ondragover="" class="option-input checkbox" name="question3" value="Gestión de Eventos y Seguridad de la Información (SIEM)"> Gestión de Eventos y Seguridad de la Información (SIEM)</label><br>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label><input type="checkbox" id="question3h" ondragover="" class="option-input checkbox" name="question3" value="Firma electrónica"> Firma electrónica</label><br>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label><input type="checkbox" id="question3e" ondragover="" class="option-input checkbox" name="question3" value="Tecnologías para la comunicación segura en aplicaciones cliente-servidor (HTTPS, VPN), con algunas tareas de bloqueo tales como tiendas en línea, acceso a sitios no deseados, descarga de música)"> Tecnologías para la comunicación segura en aplicaciones cliente-servidor (HTTPS, VPN), con algunas tareas de bloqueo tales como tiendas en línea, acceso a sitios no deseados, descarga de música)</label><br>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label><input type="checkbox" id="question3f" ondragover="" class="option-input checkbox" name="question3" value="Restricciones de acceso a sitios de internet (política de seguridad con algunas tareas bloqueo tales como: tiendas en línea, acceso a sitios no deseados, descarga de música)"> Restricciones de acceso a sitios de internet (política de seguridad con algunas tareas bloqueo tales como: tiendas en línea, acceso a sitios no deseados, descarga de música)</label><br>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label><input type="checkbox" class="option-input checkbox" id="question3otro" name="question3" value="Otro" onclick="var input=document.getElementById('question3_otro'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Otro<br>
              <br>
              <input id="question3_otro" maxlength="200" name="question3_otro" disabled="disabled"/></label><br>
          </div>
      </div>
    </div>
    

<br><hr>






<div class "row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <button type="submit" class="state" name="continuar" formaction="validar4">Guardar respuestas</button>
    </div>
  </div>
  </div>
  </form>
<br>

</div>
</body>
</html>

