<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
		<title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/preg_style.css">
    <link rel="stylesheet" href="static/header-login-signup.css">

    <link rel="stylesheet" href="static/radio_checks.css">
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

   <script>
	   //Mostrar opcion para borrar adjunto
	   function enb_dis(btn_att,btn_del)
	   {
			var x = document.getElementById(btn_att);
			var input = document.getElementById(btn_del);
			if ('files' in x)
			{
			   input.disabled = false;
			   input.focus();
			}
			else
			{
			   input.disabled = true;
			}
	   }
	   //Borrar archivo adjunto
	   function delete_attached(btn_del,name)
		{
			document.getElementById(name).value = "";
			document.getElementById(btn_del).disabled = true;
    }
    

    function yesnoCheck(questionIDYesNO, questionIDYes, questionIDNO) {
      
      
      if (questionIDYesNO.checked) {
        $(questionIDYes).removeClass("hidden");
        $(questionIDNO).addClass("hidden");

      }

    }


   </script>

<body>
		<div class="topnav" id="myTopnav">				
				<div class="logo">
					<a href="/">
					<img src="static/Logos_header.png" class="img-responsive">
					</a>
        </div>
        
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
            <li><a href="javascript:void(0);" class="icon" onclick="toggle_menu()">&#9776;</a></li>
          </ul>
		</div>
  <div class="wrapper">




  <form enctype=multipart/form-data class="register" method="post" id="form_mod4">
    <input type="submit" formaction="validar4" style="visibility: hidden; display: none;">
      <p class="title"> MÓDULO 4. Seguridad de la Información
    </p>



    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="question1"><h4>1. ¿Qué métodos técnicos utiliza para el control de la seguridad de la información? </h4></label>
        <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
       <input type="radio" class="option-input radio" id="question1" name="question1" value="Identificación y/o autenticación" >Identificación y/o autenticación<br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
       <input type="radio" class="option-input radio" id="question2" name="question1" value="Autorización y control de acceso " >Autorización y control de acceso <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question3" name="question1" value="Auditoria" >Auditoria<br>
       </div>
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question4" name="question1" value="Encriptación de la información in-situ " >Encriptación de la información in-situ<br>
       </div>
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question5" name="question1" value="Encriptación de la información en intercambio" >Encriptación de la información en intercambio <br>
       </div>
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question6" name="question1" value="Monitoreo de ataques cibernéticos" >Monitoreo de ataques cibernéticos<br>
       </div>

        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>Adjuntar soporte:</label>
        <input type="file" id="file_p1" name="file_p1" accept="image/*,video/*" onchange="enb_dis('file_p1','del_p1')"/>
        <br><br>
        <button type="button" id="del_p1" class="state" onclick="delete_attached('del_p1','file_p1')" disabled="disabled">Eliminar soporte</button>
      </div>
    </div>
    <br><hr>
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="question2"><h4>2. ¿La institución cuenta con alguna estrategia de seguridad, de recuperación de datos o respaldo de los datos electrónicos almacenados?</h4></label>
        <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
       <input type="radio" class="option-input radio" id="question1" name="question2" value="SI" >SI<br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
       <input type="radio" class="option-input radio" id="question2" name="question2" value="NO" >NO<br>
      </div>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>Adjuntar soporte:</label>
        <input type="file" id="file_p2" name="file_p2" accept="image/*,video/*" onchange="enb_dis('file_p2','del_p2')"/>
        <br><br>
        <button type="button" id="del_p2" class="state" onclick="delete_attached('del_p2','file_p2')" disabled="disabled">Eliminar soporte</button>
      </div>
    </div>
    <br><hr>
    

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="question3"><h4>3. ¿Con cuáles de las siguientes herramientas para la seguridad electrónica de la información cuenta la institución de salud?</h4></label>
        <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <label><input type="checkbox" id="question3" ondragover="" class="option-input checkbox" name="question3" value="Antispam y Antimalware (malware incluye virus, gusanos, troyanos, rootkits, spyware, hardware intrusivo o cualquier otro software malicioso)"> Antispam y Antimalware (malware incluye virus, gusanos, troyanos, rootkits, spyware, hardware intrusivo o cualquier otro software malicioso)</label><br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label><input type="checkbox" id="question3" ondragover="" class="option-input checkbox" name="question3" value="Firewall, IDS (sistema detección de intrusos), IPS (sistema prevención de intrusos), WAF (firewall de aplicaciones web)"> Firewall, IDS (sistema detección de intrusos), IPS (sistema prevención de intrusos), WAF (firewall de aplicaciones web)</label><br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label><input type="checkbox" id="question3" ondragover="" class="option-input checkbox" name="question3" value="Tecnología de protección de datos (criptográfica, bases de datos), DAM (monitoreo de acceso a datos), DLP (sistema de prevención de pérdida de datos)"> Tecnología de protección de datos (criptográfica, bases de datos), DAM (monitoreo de acceso a datos), DLP (sistema de prevención de pérdida de datos)</label><br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label><input type="checkbox" id="question3" ondragover="" class="option-input checkbox" name="question3" value="Tecnologías de autenticación (contraseñas, biometría, tokens, OTP, tarjetas inteligentes, certificados digitales)"> Tecnologías de autenticación (contraseñas, biometría, tokens, OTP, tarjetas inteligentes, certificados digitales)</label><br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label><input type="checkbox" id="question3" ondragover="" class="option-input checkbox" name="question3" value="Tecnologías para la comunicación segura en aplicaciones cliente-servidor (HTTPS, VPN), con algunas tareas de bloqueo tales como tiendas en línea, acceso a sitios no deseados, descarga de música)"> Tecnologías para la comunicación segura en aplicaciones cliente-servidor (HTTPS, VPN), con algunas tareas de bloqueo tales como tiendas en línea, acceso a sitios no deseados, descarga de música)</label><br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label><input type="checkbox" id="question3" ondragover="" class="option-input checkbox" name="question3" value="Restricciones de acceso a sitios de internet (política de seguridad con algunas tareas bloqueo tales como: tiendas en línea, acceso a sitios no deseados, descarga de música)"> Restricciones de acceso a sitios de internet (política de seguridad con algunas tareas bloqueo tales como: tiendas en línea, acceso a sitios no deseados, descarga de música)</label><br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label><input type="checkbox" id="question10" ondragover="" class="option-input checkbox" name="question3" value="Gestión de Eventos y Seguridad de la Información (SIEM)"> Gestión de Eventos y Seguridad de la Información (SIEM)</label><br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label><input type="checkbox" id="question3" ondragover="" class="option-input checkbox" name="question3" value="Firma electrónica"> Firma electrónica</label><br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <label><input type="checkbox" class="option-input checkbox" id="question10" name="question3" value="Otro" onclick="var input=document.getElementById('question10_otro'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Otro<br><input id="question10_otro" name="question10_otro" disabled="disabled"/></label><br>
      </div>
    
        <br>
      </div>
    </div>
    

<br><hr>






<div class "row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button type="submit" class="state" name="continuar" formaction="validar4">Continuar</button>
    </div>
  </div>
  </div>
  </form>
<br>

</div>
</body>
</html>

