<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
		<title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    </head>
	
   <script>
   function myFunction() 
		{
			var x = document.getElementById("myFile");
			x.disabled = true;
		}
   </script>

	
	
<body>


<div class="jumbotron text-center">
  <h2>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</h2>
  <h3>Preguntas acerca del estado de conectividad en su IPS</h3>
  <h3>IPS: {{ name }} </h3>
		
	<!--Logos-->
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="static/udea.jpg" width="30%">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
         <img src="static/colciencias.png"  width="40%">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
         <img src="static/mintic.png"  width="100%">
      </div>
    </div>
    <!--Logos-->

</div>







<!--<div class="container mx-auto">-->
<div class="container">



  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">


      <br>
      <br>

		<!--Campo para pregunta 1-->  
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<label for="question1"><h4>1. ¿Cuenta su IPS con conexión a internet?</h4></label>
				<!--Burbuja de ayuda-->
				<a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a>
				<br>
				<!--Opciones de respuesta-->				
				<input type="radio" id="question1" name="question1" value="SI" required> Si
				<br>
				<input type="radio" id="question1" name="question1" value="NO" > No
				<br><br>
				<!--Boton para adjuntar archivo-->
				<button type="file" id="file_question1" class="btn btn-default" >Adjuntar soporte</button>
			</div>
		</div>	  
		
		<br>
		
		<!--Campo para pregunta 2--> 
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<label for="question2"><h4>2. ¿Cuántos equipos se encuentran conectados a internet?</h4></label>
				<a href="#" data-toggle="tooltip" title="Ayudaaaaa"><i class="fa fa-question-circle" style=font-size:24px></i></a>
				<br>
				<!--Opciones de respuesta-->				
				<input type="radio" id="question2" name="question2" value="1" required> Entre 1 y 5
				<br>
				<input type="radio" id="question2" name="question2" value="2" > Entre 6 y 10
				<br>
				<input type="radio" id="question2" name="question2" value="3" > Entre 11 y 20
				<br>
				<input type="radio" id="question2" name="question2" value="4" > Más de 20
				<br><br>
				<button type="file" id="file_question2" class="btn btn-default" >Adjuntar soporte </button>
			</div>
		</div>

		<br>
		
		<!--Campo para pregunta 3--> 

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<label for="question3"><h4>3. ¿Cuentan con conexión de internet inalambrica (Wifi) en su IPS?</h4></label>
				<a href="#" data-toggle="tooltip" title="Ayudaaaaa"><i class="fa fa-question-circle" style=font-size:24px></i></a>
				<br>
				<!--Opciones de respuesta-->				
				<input type="radio" id="question3" name="question3" value="SI" required> Si
				<br>
				<input type="radio" id="question3" name="question3" value="NO" > No
				<br><br>
				<button type="file" id="file_question3" class="btn btn-default" >Adjuntar soporte </button>
			</div>
		</div>
		
		<br>
		
		<!--Campo para pregunta 4--> 
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<label for="question4"><h4>4. ¿Con qué otros servcios de TIC cuenta su IPS?</h4></label>
				<a href="#" data-toggle="tooltip" title="Ayudaaaaa"><i class="fa fa-question-circle" style=font-size:24px></i></a>
				<br>
				<label><input type="checkbox" id="cbox1" value="1"> Ninguno</label>
				<br>
				<label><input type="checkbox" id="cbox1" value="2"> Bandeja de correo propia</label>
				<br>
				<label><input type="checkbox" id="cbox2" value="3"> Manejo de archivos compartidos</label>
				<br>
				<label><input type="checkbox" id="cbox3" value="4"> Servidores para manejo de historia clínica</label>
				<br>
				<label><input type="checkbox" id="cbox4" value="5"> Direcciones IP públicas</label>
				<br>
				<label><input type="checkbox" id="cbox5" value="6" onclick="var input = document.getElementById('name2'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Otro
				<br>				
				<input id="name2" name="name2" disabled="disabled"/></label>
				<br><br>
				<button type="file" id="file_question3" class="btn btn-default" >Adjuntar soporte </button>
			</div>
		</div>

		<br>
		
		<!--Campo para pregunta 5--> 
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<label for="question5"><h4>5. ¿Cuál es el ancho de banda de la conexión a internet en su IPS?</h4></label>
				<a href="#" data-toggle="tooltip" title="Ayudaaaaa"><i class="fa fa-question-circle" style=font-size:24px></i></a>
				<br>
				<!--Opciones de respuesta-->				
				<input type="radio" id="question5" name="question5" value="1" required> Menor a 1 Mbps
				<br>
				<input type="radio" id="question5" name="question5" value="2" > Entre 2 y 5 Mbps
				<br>
				<input type="radio" id="question5" name="question5" value="3" > Entre 6 y 10 Mbps
				<br>
				<input type="radio" id="question5" name="question5" value="4" > Entre 11 y 20 Mbps
				<br>
				<input type="radio" id="question5" name="question5" value="5" > Mayor a 20 Mbps
				<br><br>
				<!--Boton para adjuntar archivos-->
				<button type="file" id="file_question5" class="btn btn-default" >Adjuntar soporte </button>
			</div>

		</div>
		
		<br>

		<!--Campo para pregunta 6--> 
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<label for="question6"><h4>6. ¿Cuántas personas/empleados hay en su IPS que usen equipos de computo?</h4></label>
				<a href="#" data-toggle="tooltip" title="Ayudaaaaa"><i class="fa fa-question-circle" style=font-size:24px></i></a>
				<br>
				<!--Opciones de respuesta-->				
				<input type="radio" id="question6" name="question6" value="1" required> Entre 1 y 10
				<br>
				<input type="radio" id="question6" name="question6" value="2" > Entre 11 y 30
				<br>
				<input type="radio" id="question6" name="question6" value="3" > Entre 31 y 50
				<br>
				<input type="radio" id="question6" name="question6" value="4" > Entre 51 y 100
				<br>
				<input type="radio" id="question6" name="question6" value="5" > Mayor a 100
				<br><br>
				<!--Boton para adjuntar archivos-->
				<button type="file" id="file_question6" class="btn btn-default" >Adjuntar soporte </button>
			</div>
		</div>
		
		<br>

		<!--Campo para pregunta 7--> 
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<label for="question7"><h4>7. ¿Cuántas personas/empleados tienen acceso a internet en su IPS?</h4></label>
				<a href="#" data-toggle="tooltip" title="Ayudaaaaa"><i class="fa fa-question-circle" style=font-size:24px></i></a>
				<br>
				<!--Opciones de respuesta-->				
				<input type="radio" id="question7" name="question7" value="1" required> Entre 1 y 10
				<br>
				<input type="radio" id="question7" name="question7" value="2" > Entre 11 y 30
				<br>
				<input type="radio" id="question7" name="question7" value="3" > Entre 31 y 50
				<br>
				<input type="radio" id="question7" name="question7" value="4" > Entre 51 y 100
				<br>
				<input type="radio" id="question7" name="question7" value="5" > Mayor a 100
				<br><br>
				<!--Boton para adjuntar archivos-->
				<button type="file" id="file_question7" class="btn btn-default" >Adjuntar soporte </button>
			</div>
		</div>

		<br>

		<!--Campo para pregunta 9--> 
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<label for="question8"><h4>8. ¿Quién provee los recursos para el pago de la conectividad a internet en su IPS?</h4></label>
				<a href="#" data-toggle="tooltip" title="Ayudaaaaa"><i class="fa fa-question-circle" style=font-size:24px></i></a>
				<br>
				<label><input type="checkbox" id="cbox6" value="1"> Ente gubernamental</label>
				<br>
				<label><input type="checkbox" id="cbox7" value="2"> Entes privados</label>
				<br>
				<label><input type="checkbox" id="cbox8" value="3"> Recursos propos de la IPS</label>
				<br>
				<label><input type="checkbox" id="cbox9" value="4"> Donaciones</label>
				<br>
				<label><input type="checkbox" id="cbox10" value="5" onclick="var input = document.getElementById('name3'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Otro
				<br>
					<input id="name3" name="name3" disabled="disabled"/></label>
				<br><br>
				<button type="file" id="file_question7" class="btn btn-default" >Adjuntar soporte </button>
			</div>
		</div>


    </div>
    <a class="btn btn-success" href="/">Volver atras</a>
    <button class="btn btn-success" href="">Ver los resultados</button>

  </form>

  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}





</div>
</body>
</html>
