<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
		<title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <!-- <link rel="stylesheet" href="static/preg_style.css"> -->
    <link rel="stylesheet" href="static/radio_checks.css">		<link rel="stylesheet" href="static/header-login-signup.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="static/jscripts.js"></script>
		<link rel="stylesheet" href="static/index_style.css">

		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

   <script>
	   //Mostrar opcion para borrar adjunto
	   function enb_dis(btn_att,btn_del)
	   {
			var x = document.getElementById(btn_att);
			var input = document.getElementById(btn_del);
			if ('files' in x)
			{
			   input.disabled = false;
			   input.focus();
			}
			else
			{
			   input.disabled = true;
			}
	   }
	   //Borrar archivo adjunto
	   function delete_attached(btn_del,name)
		{
			document.getElementById(name).value = "";
			document.getElementById(btn_del).disabled = true;
    }
    
    function yesnoCheck(questionIDYesNO, questionIDYes, questionIDNO) {
      
      
      if (questionIDYesNO.checked) {
        $(questionIDYes).removeClass("hidden");
        $(questionIDNO).addClass("hidden");

      }

    }

   </script>





<body>
	<div class="wrapper">
		<script type="text/javascript">   
			var LogVal = {{LogFlag|safe}}           
		</script>
		<div class="topnav">
			<div class="logo_nav">
				<a href="/">
					<img src="static/logos/logos.png" class="img-responsive">
				</a>				
			</div>
		</div>
		<div class="topnav" id="myTopnav">				
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/modulos">Encuesta</a></li>
			<li><a href="/instructivo">Tutorial</a></li>
			<li><a href="/contacto">Contacto</a></li>
			<li><a href="/faqs">Preguntas frecuentes</a></li>
			<li><a href="/logout">&#9949; Cerrar Sesión</a></li>
			<li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>	
		</ul>	
		</div>

    <form enctype=multipart/form-data class="register" method="post" id="form_mod2">
      <input type="submit" formaction="validar2" style="visibility: hidden; display: none;">
        <p class="title"> 
        MÓDULO 2. Infraestructura TIC
        </p>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question2"><h4>1. ¿La institución cuenta con área, departamento o afines de sistemas de información?</h4></label>
    
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question1si" name="question2" value="SI" onclick="yesnoCheck(this, q2container, q3container);">SI<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question1no" name="question2" value="NO" onclick="yesnoCheck(this, q3container, q2container);">NO<br>
  </div>
    <br>
  </div>
</div>

<br><hr>

<div class="hidden" id="q3container"></div>


<div class="hidden" id="q2container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="question3">
        <h4>2. ¿Cuántas personas conforman el área, departamento o afines de sistemas de información en su institución?</h4>
      </label>
      <a  data-toggle="tooltip" 
      title=
"Contabilice el número de personas que hacen parte de dicha área sin importar su formación.">
        <i class="fa fa-question-circle" style=font-size:24px></i>
      </a>
      <br>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q2f1" name="question2" placeholder="Cuantos">
    <br>
  </div>
  <br>
  <br>
  <hr>
</div>




<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question2">
      <h4>3. ¿Se invirtió presupuesto en tecnologías de la información y la comunicación en el año 2017?</h4>
    </label>
     
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <input type="radio" class="option-input radio" id="question3si" name="question3" value="SI" onclick="yesnoCheck(this, q4container, q5container);">SI
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <input type="radio" class="option-input radio" id="question3no" name="question3" value="NO" onclick="yesnoCheck(this, q5container, q4container);">NO
      <br>
    </div>
    <br>
  </div>
</div>



<div class="hidden" id="q5container"></div>


<div class="hidden" id="q4container">
   <label><input type="checkbox" id="question3_a" ondragover="" class="option-input checkbox" name="presupuesto_inversionTIC" value="Menos del 10% de su presupuesto anual"> Menos del 10% de su presupuesto anual</label><br>
    <label><input type="checkbox" id="question3_b" ondragover="" class="option-input checkbox" name="presupuesto_inversionTIC" value="Entre el 10-30% de su presupuesto anual"> Entre el 10-30% de su presupuesto anual</label><br>
    <label><input type="checkbox" id="question3_c" ondragover="" class="option-input checkbox" name="presupuesto_inversionTIC" value="Entre el 30-50% de su presupuesto anual"> Entre el 30-50% de su presupuesto anual</label><br>
    <label><input type="checkbox" id="question3_d" ondragover="" class="option-input checkbox" name="presupuesto_inversionTIC" value="Entre el 50-80% de su presupuesto anual"> Entre el 50-80% de su presupuesto anual</label><br>
    <label><input type="checkbox" id="question3_e" ondragover="" class="option-input checkbox" name="presupuesto_inversionTIC" value="Más del 80% de su presupuesto anual"> Más del 80% de su presupuesto anual</label><br>
</div>



<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question5"><h4>4. ¿En el año 2017 su institución contó con computadores como herramienta tecnológica básica en los consultorios?</h4></label>
    <!--  -->
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question4yes" name="question4" value="SI" onclick="yesnoCheck(this, q7container, q6container);" />SI<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question4no" name="question4" value="NO" onclick="yesnoCheck(this, q6container, q7container);" />NO<br>
  </div>
    <br>
  </div>
</div>






<div class="hidden" id="q6container">
    <br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question6"><h4>5. Por cuáles razones en los consultorios de su institución NO se usaron computadoras en el año 2017?</h4></label>
    <!--  -->
  </div>
</div>
<div class="row" >
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	 <input type="radio" class="option-input radio" id="question5_a" name="question5" value="La institución no necesita computadoras en los consultorios">La institución no necesita computadoras en los consultorios<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question5_b" name="question5" value="Alto costo de adquisición de computadoras para los consultorios"> Alto costo de adquisición de computadoras para los consultorios<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question5_c" name="question5" value="Alto costo de mantenimiento de computadoras">Alto costo de mantenimiento de computadoras<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question5_d" name="question5" value="El costo-beneficio del uso de computadoras no compensa">El costo-beneficio del uso de computadoras no compensa<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question5_e" name="question5" value="Poca habilidad del personal con el uso de computadoras">Poca habilidad del personal con el uso de computadoras<br>
  </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question5_f" name="question5" value="Falta de presupuesto">Falta de presupuesto<br>
    </div>

    <input type="radio" class="option-input radio" id="question5_g" name="question5" value="Otro" onclick="var input = document.getElementById('question5_otro'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Otro<br><input id="question5_otro" name="question5_otro" disabled="disabled"/><br>
    <br>
  
</div>
</div>


<div class="hidden" id="q7container">

<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question7"><h4>6. ¿Cuántos consultorios tienen computadora?</h4></label>
    
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q6f1" name="question6" placeholder="0" ><br>
  </div>
</div>
    <br>






</div>
<br><hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question8">
      <h4>7. ¿Qué tipo de computadoras tiene la institución?</h4>
    </label>
    <a  data-toggle="tooltip" title="El computador de escritorio está diseñado para uso en una ubicación fija, el computador portátil es un computador personal,  móvil o de transporte">
      <i class="fa fa-question-circle" style=font-size:24px></i>
    </a>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
    <label>PC de Escritorio</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q7f1" name="question7_PC_escritorio" placeholder="0">
    <br>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
    <label>PC Portátil</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q7f2" name="question7_PC_portatil" placeholder="0">
    <br>
  </div>
</div>

<br>

<br>
<hr>





<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question8"><h4>8. ¿Cuántos equipos móviles tiene la institución?</h4></label>
    <a  data-toggle="tooltip" 
    title=
"TABLET: dispositivo electrónico portátil que permite realizar funciones similares a un pc. 

PHABLET: teléfono inteligente cuya pantalla supera en diagonal las 5,5 pulgadas y permite funciones similares a la tablet. CELULAR: teléfono móvil"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Tablet</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q8f1" name="question8_tablet" placeholder="0" ><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Phablet</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q8f2" name="question8_phablet" placeholder="0" ><br>
</div>
</div>

<br>
<br><hr>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question9"><h4>9. ¿La institución dispone de planes de datos móviles para sus colaboradores?</h4></label>
    <a  data-toggle="tooltip" title="Plan de datos pagado por la institución para uso de los colaboradores en las labores propias del cargo"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <input type="radio" class="option-input radio" id="question9a" name="question9" value="SI">SI
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <input type="radio" class="option-input radio" id="question9b" name="question9" value="NO">NO
      <br>
    </div>
    <br>
  </div>
</div>

<br>


<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question10"><h4>10. ¿La institución tiene una red interna / intranet? </h4></label>
    <a  data-toggle="tooltip" 
    title=
  "INTRANET: Red informática interna de la empresa a la que solo se puede acceder desde dispositivos electrónicos que se encuentran al interior de la institución"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question10a" name="question10" value="SI" >SI<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question10b" name="question10" value="NO" >NO<br>
  </div>
    <br>
  </div>
</div>

<br><hr>



<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question21">
      <h4>11. ¿Cuántos Técnicos/Tecnólogos/Profesionales utilizan al menos una vez por semana una computadora de escritorio, portátil,
      tableta u otros dispositivos?</h4>
    </label>
    <br>
  </div>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
  <label>Profesionales de salud</label>
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
  <input type="text" id="q11f1" name="question11_prof_salud" placeholder="0">
  <br>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
  <label>Profesionales no afines a salud</label>
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
  <input type="text" id="q11f2" name="question11_prof_no_salud" placeholder="0">
  <br>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
  <label>Técnicos de salud</label>
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
  <input type="text" id="q11f3" name="question11_tecnicos_salud" placeholder="0">
  <br>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
  <label>Técnicos no afines a salud</label>
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
  <input type="text" id="q11f4" name="question11_tecnicos_no_salud" placeholder="0">
  <br>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
  <label>Tecnólogos en salud</label>
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
  <input type="text" id="q11f5" name="question11_tecnologos_salud" placeholder="0">
  <br>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
  <label>Tecnólogos no afines a la salud</label>
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
  <input type="text" id="q11f6" name="question11_tecnologos_nosalud" placeholder="0">
  <br>
</div>


<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
  <label>Otros</label>
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
  <input type="text" id="q11f5" name="question11_otros" placeholder="0">
  <br>
</div>
<br>
<hr>







<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question12"><h4>12. ¿La institución cuenta con alguna persona especializada o a cargo del área de Tecnologías de la Información y la comunicación
    (TIC) o informática?</h4></label>
    <a  data-toggle="tooltip" title="Personal contratado por la institución encargado de las TIC"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question12a" name="question12" value="SI" >SI<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question12b" name="question12" value="NO" >NO<br>
  </div>
    <br>
  </div>
</div>

<br><hr>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question13">
      <h4>13. ¿Cuál es el nivel de estudios de la persona responsable de las tecnologías de la información y la comunicación (TIC) o informática
      en la institución?</h4>
    </label>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question13_a" name="question13" value="Sin instrucción">Sin instrucción
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question13_b" name="question13" value="Primaria incompleta">Primaria incompleta
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question13_c" name="question13" value="Primaria completa">Primaria completa
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question13_d" name="question13" value="Secundaria incompleta">Secundaria incompleta
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question13_e" name="question13" value="Secundaria completa">Secundaria completa
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question13_f" name="question13" value="Estudios Técnicos">Estudios Técnicos
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question13_g" name="question13" value="Estudios Tecnológicos">Estudios Tecnológicos
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question13_h" name="question13" value="Estudios universitarios">Estudios universitarios
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question13_i" name="question13" value="Posgrado (maestría, Doctorado, Especialización, MBA, etc.)">Posgrado (maestría, Doctorado, Especialización, MBA, etc.)
      <br>
    </div>
    <br>
  </div>
</div>
<br>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question14">
      <h4>14. Si la persona responsable del área de informática es profesional, indique si el área de formación es alguna de las siguientes:</h4>
    </label>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question14_a" ondragover="" class="option-input checkbox" name="question14" value="Ingeniería"> Ingeniería</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question14_b" ondragover="" class="option-input checkbox" name="question14" value="Ciencias de la Salud o Ciencias Biológicas"> Ciencias de la Salud o Ciencias Biológicas</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question14_c" ondragover="" class="option-input checkbox" name="question14" value="Administración, Contabilidad y Economía"> Administración, Contabilidad y Economía</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question14_d" ondragover="" class="option-input checkbox" name="question14" value="Ciencias Exactas o Computación"> Ciencias Exactas o Computación</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question14_e" ondragover="" class="option-input checkbox" name="question14" value="Humanidades y Ciencias Sociales"> Humanidades y Ciencias Sociales</label>
      <br>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
            <input type="checkbox" id="question14_f" name="question14" class="option-input checkbox" name="question14" value="Otra" onclick="var input = document.getElementById('question14_otro'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}"
            />Otro
            <br><br>
            <input id="question14_otro" name="question14_otro" disabled="disabled" />
            <br>
        <br>
    </div>
    <br>
  </div>
</div>

<br>
<hr>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question16">
      <h4>15. ¿Tiene implementados en la institución procesos de capacitación al personal usando herramientas o planes basados en tecnologías
      de la información y la comunicación (TIC)?</h4>
    </label>
    <a  data-toggle="tooltip" 
    title=
"Se consideran herramientas TIC para la educación programas tales como aquellos destinados a presentaciones, texto, hojas de cálculo; también redes sociales, software para comunicación vía internet, software para creación de contenido educativo, correo electrónico y demás programas que puedan ser utilizados para capacitación y formación de personal">
      <i class="fa fa-question-circle" style=font-size:24px></i>
    </a>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <input type="radio" class="option-input radio" id="question15_a" name="question15" value="SI" onclick="yesnoCheck(this, q17container, q18container);">SI
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <input type="radio" class="option-input radio" id="question15_b" name="question15" value="NO" onclick="yesnoCheck(this, q18container, q17container);">NO
      <br>
    </div>
    <br>
  </div>
</div>

<br>
<hr>



<div class="hidden" id="q17container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="question17">
        <h4>16. ¿Qué tan satisfactorio ha sido el resultado?</h4>
      </label>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <input type="radio" class="option-input radio" id="question16_a" name="question17" value="Totalmente satisfactorio">Totalmente satisfactorio
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <input type="radio" class="option-input radio" id="question16_b" name="question17" value="Bastante satisfactorio">Bastante satisfactorio
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <input type="radio" class="option-input radio" id="question16_c" name="question17" value="Poco satisfactorio">Poco satisfactorio
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <input type="radio" class="option-input radio" id="question16_d" name="question17" value="Nada satisfactorio">Nada satisfactorio
        <br>
      </div>
      <br>
    </div>
  </div>
 
  <br>
  <hr>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question15">
      <h4>17. ¿En qué servicio o área de la institución se hace uso de tecnologías de la información y la comunicación (TIC)?</h4>
    </label>

    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_a" ondragover="" class="option-input checkbox" name="question15" value="Internación"> Internación</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_b" ondragover="" class="option-input checkbox" name="question15" value="Cirugía"> Cirugía</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_c" ondragover="" class="option-input checkbox" name="question15" value="Unidad de cuidados intensivos"> Unidad de cuidados intensivos </label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_d" ondragover="" class="option-input checkbox" name="question15" value="Unidad de cuidados intermedios"> Unidad de cuidados intermedios</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_e" ondragover="" class="option-input checkbox" name="question15" value="Unidad de quemados"> Unidad de quemados</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_f" ondragover="" class="option-input checkbox" name="question15" value="Central de referencia"> Central de referencia</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_g" ondragover="" class="option-input checkbox" name="question15" value="Admisiones"> Admisiones</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_h" ondragover="" class="option-input checkbox" name="question15" value="Área financiera"> Área financiera</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_i" ondragover="" class="option-input checkbox" name="question15" value="Laboratorio clínico"> Laboratorio clínico</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_j" ondragover="" class="option-input checkbox" name="question15" value="Servicio Farmacéutico"> Servicio Farmacéutico</label>
      <br>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_k" ondragover="" class="option-input checkbox" name="question15" value="Radiología e imágenes diagnosticas"> Radiología e imágenes diagnosticas</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_l" ondragover="" class="option-input checkbox" name="question15" value="Consulta externa"> Consulta externa</label>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <label>
        <input type="checkbox" id="question17_m" ondragover="" class="option-input checkbox" name="question15" value="Urgencias"> Urgencias</label>
      <br>
    </div>
    <br>
  </div>
</div>


</div>

<div class="hidden" id="q18container"></div>




<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question18">
      <h4>18. En el año 2017 el soporte técnico y mantenimiento de equipos y dispositivos tecnológicos y software de la institución fue
      realizada la mayor parte de las veces por:</h4>
    </label>

    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question18_a" name="question18" value="Por personal interno de la institución">Por personal interno de la institución
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question18_b" name="question18" value="Por uno o varios prestadores de servicios contratados por la institución">Por uno o varios prestadores de servicios contratados por la institución
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question18_c" name="question18" value="Aprendiz">Aprendiz
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question18_d" name="question18" value="Mixto (opcion a y b)">Mixto (opcion a y b)
      <br>
    </div>
  </div>
</div>

<br>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question19">
      <h4>19. ¿Cuántas empresas del área de mantenimiento de las tecnologías de la información y la comunicación (TIC) prestan servicios
      a la institución?</h4>
    </label>
    <a  data-toggle="tooltip" title="Indique aquellas que prestaron servicios durante el año 2017 ">
      <i class="fa fa-question-circle" style=font-size:24px></i>
    </a>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q19f1" name="question19" placeholder="0">
    <br>
  </div>
</div>
<br>

<br>
<hr>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question18">
      <h4>20. Cuando se realizan nuevos desarrollos en la institución ¿lo hacen con?</h4>
    </label>
    <a  data-toggle="tooltip" title="Nuevos desarrollos en el área de tecnologías de la información y la comunicación.">
      <i class="fa fa-question-circle" style=font-size:24px></i>
    </a>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question20_a" name="question20" value="Tercerización del servicio">Tercerización del servicio
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question20_b" name="question20" value="Personal propio">Personal propio
      <br>
    </div>
  </div>
</div>


<br>
<hr>



<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question22">
      <h4>21. ¿La institución cuenta con acceso a internet?</h4>
    </label>
    <a  data-toggle="tooltip" title="Acceso o conexión a Internet es el sistema de enlace con que el computador (es) cuenta para acceder a páginas web desde un navegador y a otros servicios que ofrece Internet, como correo electrónico, mensajería, redes sociales entre otras.">
      <i class="fa fa-question-circle" style=font-size:24px></i>
    </a>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <input type="radio" class="option-input radio" id="question21_a" name="question21" value="SI" onclick="yesnoCheck(this, q23container, q24container);">SI
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <input type="radio" class="option-input radio" id="question21_b" name="question21" value="NO" onclick="yesnoCheck(this, q24container, q23container);">NO
      <br>
    </div>
    <br>
  </div>
</div>

<br>

<br>
<hr>


<div class="hidden" id="q24container"></div>
<div class="hidden" id="q23container">


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question25">
      <h4>22. Su conexión es financiada por:</h4>
    </label>
    <a  data-toggle="tooltip" 
    title="Los costos de la conexión a internet de su institución es financiada con subsidios (ayuda económica) del gobierno o de otra entidad.">
      <i class="fa fa-question-circle" style=font-size:24px></i>
    </a>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question22a" name="question22" value="La institución">La institución
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question22b" name="question22" value="Subsidiada por el gobierno">Subsidiada por el gobierno
      <br>
    </div>
    <input type="radio" class="option-input radio" id="question22c" name="question22" value="Subsidiada por otra Entidad" onclick="var input = document.getElementById('question22otro'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}"
    />Subsidiada por otra Entidad
    <br><br>
    <input id="question22otro" name="question22otro" disabled="disabled" />
    <br>
    <br>
  </div>
</div>

<br>
<hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question24">
      <h4>23. ¿Cuáles de los siguientes tipos de conexión a internet utilizó la institución en el año 2017? </h4>
    </label>
    <a  data-toggle="tooltip" 
    title=
"ACCESO DISCADO es cuando se utiliza la red telefónica fija para conectarse a Internet de forma conmutada, pero el objeto principal de la red telefónica es la telefonía de voz.

CONEXIÓN ADSL hace el uso de la línea telefónica tradicional pero con banda ancha.

CONEXIÓN VÍA FIBRA ÓPTICA es un tipo de tecnología de transmisión de Internet a través del uso de fibras ópticas proporcionando conexión de banda ancha de alta velocidad.

CONEXIÓN VÍA SATÉLITE es un método de conexión a Internet utilizando como medio de enlace un satélite.

CONEXIÓN MÓVIL O MODEM 3G es una conexión que requiere conectar la computadora mediante un puerto USB a un dispositivo 3G o 4G de un operador de telefonía móvil.">
      <i class="fa fa-question-circle" style=font-size:24px></i>
    </a>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question1" name="question23" value="Acceso discado o conexión discada vía teléfono">Acceso discado o conexión discada vía teléfono
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question2" name="question23" value="Conexión ADSL">Conexión ADSL
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question3" name="question23" value="Conexión vía fibra óptica">Conexión vía fibra óptica
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question4" name="question23" value="Conexión vía satélite">Conexión vía satélite
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <input type="radio" class="option-input radio" id="question5" name="question23" value="Conexión Móvil o modem 3G">Conexión Móvil o modem 3G
      <br>
    </div>
    <br>
  </div>
</div>

<br>
<hr>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="question26">
        <h4>24. Indique los siguientes datos para la red de su institución:</h4>
      </label>
      <a  data-toggle="tooltip" 
      title=
"ANCHO DE BANDA es la cantidad de información o de datos que se puede enviar a través de una conexión de red en un período de tiempo dado. El ancho de banda se indica generalmente en bites por segundo (BPS), kilobites por segundo (kbps), o megabites por segundo (mbps). 

VELOCIDAD es la velocidad a la que viajan los datos o contenidos desde la web hasta la computadora, tableta o smartphone.">
        <i class="fa fa-question-circle" style=font-size:24px></i>
      </a>
      <br>
    </div>
  </div>

  <label>Ancho de banda</label>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <input type="radio" class="option-input radio" id="question1" name="question24" value="Menos de 256 Kbps">Menos de 256 Kbps
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <input type="radio" class="option-input radio" id="question2" name="question24" value="Más 256 kbps y menos de 2 Mbps">Más 256 kbps y menos de 2 Mbps
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <input type="radio" class="option-input radio" id="question3" name="question24" value="Más 2 Mbps y menos de 10 Mbps">Más 2 Mbps y menos de 10 Mbps
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <input type="radio" class="option-input radio" id="question4" name="question24" value="10Mbps o más de10 Mbps">10Mbps o más de10 Mbps
        <br>
      </div>
      <br>
    </div>
  </div>
  <br>
  <label>Velocidad</label>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <input type="radio" class="option-input radio" id="question1" name="question24a" value="10Mbps">10Mbps
          <br>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <input type="radio" class="option-input radio" id="question2" name="question24a" value="10/100 Mbps">10/100 Mbps
          <br>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <input type="radio" class="option-input radio" id="question3" name="question24a" value="10/100/1000 Mbps">10/100/1000 Mbps
          <br>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <input type="radio" class="option-input radio" id="question4" name="question24a" value="Más de 1 Gbps">Más de 1 Gbps
          <br>
        </div>
        <br>
      </div>
    </div>

  <br>
  <hr>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="question27"><h4>25. ¿La Institución cuenta con una red LAN?</h4></label>
      <a  data-toggle="tooltip" title="Red LAN es una red de área local (LAN por las siglas en inglés de Local Area Network) de computadoras, impresoras y otros dispositivos que se encuentran interconectados para que puedan compartir sus recursos dentro de una casa, departamento o edificio."><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <input type="radio" class="option-input radio" id="question1" name="question25" value="SI">SI<br>
      <input type="text" class="option-input radio" id="question1c" name="question25_num_puntos" placeholder="¿Cuántos puntos?">
      <br>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <input type="radio" class="option-input radio" id="question2" name="question25" value="NO">NO<br>
    </div>
      <br>
    </div>
  </div>

  <br><hr>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="question32">
        <h4>26. ¿La institución cuenta con redes inalámbricas?</h4>
      </label>
      <a  data-toggle="tooltip" title="Red inalámbrica es una red que posibilita la interconexión de dos o más equipos entre sí sin que intervengan cables, ya se encuentren a unos metros de distancia como a varios kilómetros.">
        <i class="fa fa-question-circle" style=font-size:24px></i>
      </a>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question1" name="question26" value="SI" onclick="yesnoCheck(this, q32container, q33container);">SI
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question2" name="question26" value="NO" onclick="yesnoCheck(this, q33container, q32container);">NO
        <br>
      </div>
      <br>
    </div>
  </div>

  <br>
  <hr>

<div class="hidden" id="q33container"></div>
<div class="hidden" id="q32container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="question27">
        <h4>27. ¿Cuál es el protocolo de seguridad de la red inalámbrica?</h4>
      </label>
      <a  data-toggle="tooltip" 
      title=
"WEP (Del inglés Wired Equivalent Privacy, privacidad equivalente al cable) es el algoritmo opcional de seguridad incluido en la norma IEEE 802. Los objetivos de WEP, según el estándar, son proporcionar confidencialidad, autentificación y control de acceso en redes WLAN. 

WPA (Del inglés Wi-Fi Protected Access, acceso protegido Wi-Fi) fortalece la seguridad que demandan los usuarios y soluciona las debilidad en seguridad de la WEP. 

WPA2 protocolo basado en estándares de seguridad inalámbrica 802.11i fue introducido en 2004. La mejoría más importante de WPA2 sobre WPA fue el uso del Estándar de cifrado avanzado (AES) para el cifrado como información clasificada como de alto secreto.

PORTAL CAUTIVO requiere que el usuario de la red se identifique ante un sitio web.">
        <i class="fa fa-question-circle" style=font-size:24px></i>
      </a>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question1" name="question27" value="Libre">Libre
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question2" name="question27" value="WEP">WEP
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question3" name="question27" value="WPA">WPA
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question4" name="question27" value="WPA2">WPA2
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question5" name="question27" value="Portal Cautivo">Portal Cautivo
        <br>
      </div>
      <br>
    </div>
  </div>

  <br>
  <hr>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="question34">
        <h4>28. La cobertura de la red inalámbrica en la institución es:</h4>
      </label>
      <a  data-toggle="tooltip" 
      title=
"TOTAL es cuando la cobertura de la red inalámbrica es en toda la institución.

ZONAL es cuando la cobertura de la red es en una zona específica o limitada de la institución.">
        <i class="fa fa-question-circle" style=font-size:24px></i>
      </a>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question1" name="question28" value="Total">Total
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question2" name="question28" value="Zonal">Zonal
        <br>
      </div>
      <br>
    </div>
  </div>

</div>
<br>
<hr>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="question34">
        <h4>29. ¿Qué tipo de red de intercambio de información (internet/telecomunicaciones) utiliza para comunicarse y enviar/recibir electrónicamente
        información de historias clínicas?</h4>
      </label>
      <a  data-toggle="tooltip" 
      title=
"CONEXIÓN DEDICADA es una conexión segura para el intercambio de información entre diferentes localizaciones de una institución, permite el acceso a Internet si así se desea.

RED PRIVADA VIRTUAL es una tecnología de red de computadoras que permite una extensión segura de la red de área local (LAN), permite que la computadora en la red envíe y reciba datos sobre redes compartidas o públicas como si fuera una red privada con toda la funcionalidad, seguridad y políticas de gestión de una red privada.

RED PÚBLICA es una red que da disponibilidad del servicio para todos en general.">
        <i class="fa fa-question-circle" style=font-size:24px></i>
      </a>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question1" name="question29" value="Conexiones dedicadas">Conexiones dedicadas
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question2" name="question29" value="Redes privadas virtuales">Redes privadas virtuales
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <input type="radio" class="option-input radio" id="question2" name="question29" value="Redes públicas.">Redes públicas.
        <br>
      </div>

      <br>
    </div>
  </div>

  </div>
  <br>
  <hr>





<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question36"><h4>30. La institución cuenta con:</h4></label>
    <a  data-toggle="tooltip" title=
"SISTEMA DE ALIMENTACIÓN ININTERRUMPIDA (SAI), del inglés uninterruptible power supply (UPS), es un dispositivo que gracias a sus baterías u otros elementos almacenadores de energía, puede proporcionar energía eléctrica por un tiempo limitado y durante un apagón eléctrico a todos los dispositivos que tenga conectados.

PLANTA ELÉCTRICA es una máquina que mueve un generador de electricidad a través de un motor de combustión interna. Son comúnmente utilizados cuando hay déficit en la generación de energía eléctrica de algún lugar, o cuando son frecuentes los cortes en el suministro eléctrico.

POLO/MALLA A TIERRA es un conjunto de conductores desnudos que permiten conectar los equipos que componen una instalación a un medio de referencia, en este caso la tierra.

PARARRAYOS es una o más barras metálicas terminadas en punta y unidas por un extremo con la tierra por medio de conductores metálicos; se coloca verticalmente en lo alto de los edificios para atraer los rayos y facilitarles
un paso directo a la tierra sin que dañen el edificio.">
<i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <label>Soporte eléctrico ininterrumpido-UPS</label>
  </div>
  <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
	 <input type="radio" class="option-input radio" id="question1" name="question30UPS" value="SI" >SI<br>
  </div>
  <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
	 <input type="radio" class="option-input radio" id="question2" name="question30UPS" value="NO" >NO<br>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <label>Planta eléctrica</label>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
      <input type="radio" class="option-input radio" id="question1" name="question30_planta" value="SI">SI
      <br>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
      <input type="radio" class="option-input radio" id="question2" name="question30_planta" value="NO">NO
      <br>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <label>Polo/malla a tierra</label>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
      <input type="radio" class="option-input radio" id="question1" name="question30_polo" value="SI">SI
      <br>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
      <input type="radio" class="option-input radio" id="question2" name="question30_polo" value="NO">NO
      <br>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <label>Pararrayos</label>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
      <input type="radio" class="option-input radio" id="question1" name="question30_pararrayos" value="SI">SI
      <br>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
      <input type="radio" class="option-input radio" id="question2" name="question30_pararrayos" value="NO">NO
      <br>
    </div>
  </div>
</div>


<br><hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question40"><h4>31. En promedio, ¿cuántos cortes de energía eléctrica tiene la institución al mes?</h4></label>
    <a  data-toggle="tooltip" title="Corte de energía eléctrica es la suspensión del servicio de energía en su institución"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <input type="radio" class="option-input radio" id="question1" name="question39" value="0 no tiene cortes de energía">0 no tiene cortes de energía
    <br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question1" name="question39" value="1 a 5 veces" >1 a 5 veces<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question2" name="question39" value="6 a 10 veces" >6 a 10 veces<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question3" name="question39" value="11 a 15 veces" >11 a 15 veces<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question4" name="question39" value="16 a 20 veces" >16 a 20 veces<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question5" name="question39" value="21 a 30 veces" >21 a 30 veces<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question6" name="question39" value="Más de 30 veces" >Más de 31 veces<br>
  </div>
    <br>
      <input type="text" class="option-input radio" id="question39_tiempo" name="question39_tiempo" placeholder="Tiempo promedio del corte">

<br>

  </div>
</div>

<br><hr>

<div class "row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <button type="submit" class="state" name="continuar" formaction="validar2">Guardar respuestas</button>
  </div>
</div>
</div>
</form>

<br>

</div>
</body>

</html>