<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
      <title>Conexión salud</title>
      <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
      <link rel="stylesheet" href="static/bootstrap-theme.min.css">
      <!-- <link rel="stylesheet" href="static/preg_style.css"> -->
      <link rel="stylesheet" href="static/radio_checks.css">		<link rel="stylesheet" href="static/header-login-signup.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="static/jscripts.js"></script>
      <link rel="stylesheet" href="static/index_style.css">

      <meta name="viewport" content = "width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <script>
      var Rtas = {{Rtas|safe}}
    </script>
   <body onpageshow="set_rtas();">
     <div class="wrapper">
		<div class="topnav">
      <div class="logo_nav">
          <img src="static/logos/banner-encuesta.png" class="img-responsive">
      </div>
		</div>
		<div class="topnav" id="myTopnav">
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/modulos">Encuesta</a></li>
			<li><a href="/instructivo">Tutorial</a></li>
			<li><a href="/contacto">Contacto</a></li>
			<!-- <li><a href="/faqs">Preguntas frecuentes</a></li> -->
			<li><a href="/logout">&#9949; Cerrar Sesión</a></li>
			<li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>
		</ul>
		</div>

  <form enctype=multipart/form-data class="register" method="post" id="form_mod6">


    <input type="submit" formaction="validar6" style="visibility: hidden; display: none;">

    <h3 class="title">
        MÓDULO 6. Capacitación
    </h3>
<br>
<!-- <h3>{{nquestion}}</h3> -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="question1"><h4>1. ¿Su institución invirtió en el año 2017 en procesos de entrenamiento/capacitación de uso de TIC en salud dirigido al personal?
              <a data-toggle="tooltip"
              onclick="alerta('Cursos de capacitación, apoyo económico para realización de cursos, destinación de tiempo laboral para capacitación')">
              <i class="fa fa-question-circle" style=font-size:24px></i></a>
          </h4></label>

          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <input type="radio" class="option-input radio" id="q1question1_hab" name="question1" value="SI"
        onclick="yesnoCheck(this, qsi1container, qno1container);"> SI<br>
        <input type="radio" class="option-input radio" id="q1question2" name="question1" value="NO"
        onclick="yesnoCheck(this, qno1container,qsi1container);clear_inputs('qsi1container');"> NO<br>
          <br>
        </div>
      </div>

      <div class="hidden" id="qno1container">
      </div>

      <div class="hidden" id="qsi1container">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="question2"><h4>2. Existe un proceso de entrenamiento/capacitación de uso de TIC en salud dirigido al personal:
                <a
                data-toggle="tooltip"
                onclick="alerta('Es afirmativa si invirtió recursos en capacitación del uso de TIC')">
                <i class="fa fa-question-circle" style=font-size:24px></i></a><br>
                </h4></label>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <label>Asistencial&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="radio" class="option-input radio" id="q2aquestion1" name="question2a" value="SI"> SI&nbsp&nbsp
                <input type="radio" class="option-input radio" id="q2aquestion2" name="question2a" value="NO" > NO
              </label>
            <br>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <label>Técnico&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <input type="radio" class="option-input radio" id="q2bquestion1" name="question2b" value="SI"> SI&nbsp&nbsp
                  <input type="radio" class="option-input radio" id="q2bquestion2" name="question2b" value="NO" > NO
                </label><br>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <label>Administrativo&nbsp&nbsp&nbsp
                  <input type="radio" class="option-input radio" id="q2cquestion1" name="question2c" value="SI"> SI&nbsp&nbsp
                  <input type="radio" class="option-input radio" id="q2cquestion2" name="question2c" value="NO" > NO
                </label><br>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label for="question2"><h4>3. Este proceso se realiza mediante:
                  <a data-toggle="tooltip"
                  onclick="alerta('Se refiere a la estrategia utilizada para las capacitaciones en TIC.\n\nDe ser necesario escoja varias respuestas')">
                  <i class="fa fa-question-circle" style=font-size:24px></i></a>
              </h4></label>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <label><input type="checkbox" id="question3a" ondragover="" class="option-input checkbox" name="question3" value="Proceso presencial"> Proceso presencial</label><br>
              <label><input type="checkbox" id="question3b" ondragover="" class="option-input checkbox" name="question3" value="Proceso virtual mediante videos grabados"> Proceso virtual mediante videos grabados</label><br>
              <label><input type="checkbox" id="question3c" ondragover="" class="option-input checkbox" name="question3" value="Proceso virtual mediante plataformas virtuales en tiempo real"> Proceso virtual mediante plataformas virtuales en tiempo real</label><br>
              <label><input type="checkbox" id="question3d" ondragover="" class="option-input checkbox" name="question3"
               onclick="Checkb(this,q3Otro)" value="Proceso virtual mediante plataformas virtuales de acceso"> Proceso virtual mediante plataformas virtuales de acceso</label><br>
              <div class="hidden" id="q3Otro">
                <br>
                 <input type="text" id="question3_otro" name="question3_plataforma" placeholder="¿Cuál plataforma?"/></label><br>
              </div>
            </div>
          </div>
          <br><hr>
      </div>

    <div class "row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <button type="submit" class="state" name="continuar" formaction="validar6">Guardar respuestas</button>
      </div>
    </div>
    </form>

    <br>
</div>
</body>
</html>
