<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
		<title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/preg_style.css">
    <link rel="stylesheet" href="static/header-login-signup.css">
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/radio_checks.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

   <script>
	   //Mostrar opcion para borrar adjunto
	   function enb_dis(btn_att,btn_del)
	   {
			var x = document.getElementById(btn_att);
			var input = document.getElementById(btn_del);
			if ('files' in x)
			{
			   input.disabled = false;
			   input.focus();
			}
			else
			{
			   input.disabled = true;
			}
	   }
	   //Borrar archivo adjunto
	   function delete_attached(btn_del,name)
		{
			document.getElementById(name).value = "";
			document.getElementById(btn_del).disabled = true;
    }
    
   </script>

<body>
		<div class="topnav" id="myTopnav">				
				<div class="logo">
					<a href="/">
					<img src="static/Logos_header.png" class="img-responsive">
					</a>
        </div>
        
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
            <li><a href="javascript:void(0);" class="icon" onclick="toggle_menu()">&#9776;</a></li>
          </ul>
		</div>

<div class="wrapper">




  <form enctype=multipart/form-data class="register" method="post" id="form_mod5">
    <input type="submit" formaction="validar5" style="visibility: hidden; display: none;">

      <p class="title"> MÓDULO 5. Estándares e Interoperabilidad </p>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question1"><h4>1. 1. ¿Qué tipo de estándar técnico utiliza en la Historia Clínica Electrónica?</h4></label>
    <a href="#" data-toggle="tooltip" title="Se refiere a los diferentes estándares para manejo de datos como signos vitales, imágenes médicas, información de laboratorio"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="question1" value="HL7"> HL7</label><br>
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="question1" value="ISO"> ISO</label><br>
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="question1" value="IEEE"> IEEE</label><br>
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="question1" value="DICOM"> DICOM</label><br>
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="question1" value="Otros"> Otros</label><br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p1" name="file_p1" accept="image/*,video/*" onchange="enb_dis('file_p1','del_p1')"/>
    <br><br>
    <button type="button" id="del_p1" class="state" onclick="delete_attached('del_p1','file_p1')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question2"><h4>2. ¿Qué tipo de estándares de codificación utiliza Historia Clínica Electrónica?</h4></label>
    <a href="#" data-toggle="tooltip" title="Estándares de codificación son las estrategias utilizadas por los programas que permiten gestionar la historia clínica electrónica"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question2" value="CUP"> CUP</label><br>
    <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question2" value="CIE-10"> CIE-10</label><br>
    <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question2" value="SNOMED"> SNOMED</label><br>
    <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question2" value="LOINC"> LOINC</label><br>
    <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question2" value="NCPDP"> NCPDP,</label><br>
    <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question2" value="Otros"> Otros</label><br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p2" name="file_p2" accept="image/*,video/*" onchange="enb_dis('file_p2','del_p2')"/>
    <br><br>
    <button type="button" id="del_p2" class="state" onclick="delete_attached('del_p2','file_p2')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question3"><h4>3. ¿Conoce el marco de interoperabilidad del Estado colombiano?</h4></label>
    <a href="#" data-toggle="tooltip" title="Marco de interoperabilidad son las estrategias para lograr que los sistemas que manejan datos clínicos puedan comunicarse
    automáticamente y compartir información"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	 <input type="radio" class="option-input radio" id="question1" name="question3" value="SI" >SI<br>
	 <input type="radio" class="option-input radio" id="question2" name="question3" value="NO" >NO<br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p3" name="file_p3" accept="image/*,video/*" onchange="enb_dis('file_p3','del_p3')"/>
    <br><br>
    <button type="button" id="del_p3" class="state" onclick="delete_attached('del_p3','file_p3')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>

<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question4"><h4>4. ¿La institución cuenta con procesos que cumplan con el concepto de interoperabilidad?</h4></label>
    <a href="#" data-toggle="tooltip" title="Se refiere a software adicional o procesos realizados al interior de la institución para facilitar la interoperabildiad"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	 <input type="radio" class="option-input radio" id="question1" name="question4" value="SI" >SI<br>
	 <input type="radio" class="option-input radio" id="question2" name="question4" value="NO" >NO<br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p4" name="file_p4" accept="image/*,video/*" onchange="enb_dis('file_p4','del_p4')"/>
    <br><br>
    <button type="button" id="del_p4" class="state" onclick="delete_attached('del_p4','file_p4')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>





<div class "row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button type="submit" class="state" name="continuar" formaction="validar5">Continuar</button>
    </div>
  </div>
  </div>
  </form>

<br>





</div>
</body>
</html>

