<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
		<title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/preg_style.css">
    <link rel="stylesheet" href="static/radio_checks.css">
    <link rel="stylesheet" href="static/header-login-signup.css">

		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

   <script>
	   //Mostrar opcion para borrar adjunto
	   function enb_dis(btn_att,btn_del)
	   {
			var x = document.getElementById(btn_att);
			var input = document.getElementById(btn_del);
			if ('files' in x)
			{
			   input.disabled = false;
			   input.focus();
			}
			else
			{
			   input.disabled = true;
			}
	   }
	   //Borrar archivo adjunto
	   function delete_attached(btn_del,name)
		{
			document.getElementById(name).value = "";
			document.getElementById(btn_del).disabled = true;
    }
    
    function yesnoCheck(questionIDYesNO, questionIDYes, questionIDNO) {
      
      
      if (questionIDYesNO.checked) {
        $(questionIDYes).removeClass("hidden");
        $(questionIDNO).addClass("hidden");

      }

    }



   </script>

<body>
    <div class="topnav" id="myTopnav">				
				<div class="logo">
					<a href="/">
					<img src="static/Logos_header.png" class="img-responsive">
					</a>
        </div>
        
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
            <li><a href="javascript:void(0);" class="icon" onclick="toggle_menu()">&#9776;</a></li>
          </ul>
		</div>
<div class="wrapper">






  <form enctype=multipart/form-data class="register" method="post" id="form_mod6">


    



    <input type="submit" formaction="validar6" style="visibility: hidden; display: none;">
 
    <h3 class="title"> 
        MÓDULO 6. Capacitación
    </h3>


<br>
<!-- <h3>{{nquestion}}</h3> -->
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question1"><h4>1. ¿Su institución invirtió en el año 2017 en procesos de entrenamiento/capacitación de uso de TIC en salud dirigido al personal?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	 <input type="radio" class="option-input radio" id="question1" name="question1" value="SI" onclick="yesnoCheck(this, qsi1container, qno1container);">SI<br>
	 <input type="radio" class="option-input radio" id="question2" name="question1" value="NO" >NO<br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p1" name="file_p1" accept="image/*,video/*" onchange="enb_dis('file_p1','del_p1')"/>
    <br><br>
    <button type="button" id="del_p1" class="state" onclick="delete_attached('del_p1','file_p1')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>


<div class="hidden" id="qno1container"></div>

<div class="hidden" id="qsi1container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="question1"><h4>2. Existe un proceso de entrenamiento/capacitación de uso de TIC en salud dirigido al personal:</h4></label>
      <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <label>Asistencial</label>
     <input type="radio" class="option-input radio" id="question1" name="question2a" value="SI">SI
     <input type="radio" class="option-input radio" id="question2" name="question2a" value="NO" >NO<br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <label>Técnico</label>
      <input type="radio" class="option-input radio" id="question1" name="question2b" value="SI">SI
      <input type="radio" class="option-input radio" id="question2" name="question2b" value="NO" >NO<br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <label>Administrativo</label>
      <input type="radio" class="option-input radio" id="question1" name="question2c" value="SI">SI
      <input type="radio" class="option-input radio" id="question2" name="question2c" value="NO" >NO<br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <label>Adjuntar soporte:</label>
      <input type="file" id="file_p2" name="file_p2" accept="image/*,video/*" onchange="enb_dis('file_p2','del_p2')"/>
      <br><br>
      <button type="button" id="del_p1" class="state" onclick="delete_attached('del_p2','file_p2')" disabled="disabled">Eliminar soporte</button>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="question2"><h4>3. 3) Este proceso se realiza mediante: (Si es el caso seleccione varias opciones)</h4></label>
        <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question3" value="Proceso presencial"> Proceso presencial</label><br>
        <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question3" value="Proceso virtual mediante videos grabados"> Proceso virtual mediante videos grabados</label><br>
        <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question3" value="Proceso virtual mediante plataformas virtuales en tiempo real"> Proceso virtual mediante plataformas virtuales en tiempo real</label><br>
        <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question3" onclick="var input=document.getElementById('question3_otro'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" value="Proceso virtual mediante plataformas virtuales de acceso"> Proceso virtual mediante plataformas virtuales de acceso</label><br>
        <input id="question3_otro" name="question3_plataforma" disabled="disabled" placeholder="Cuál plataforma?"/></label><br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>Adjuntar soporte:</label>
        <input type="file" id="file_p3" name="file_p3" accept="image/*,video/*" onchange="enb_dis('file_p3','del_p3')"/>
        <br><br>
        <button type="button" id="del_p3" class="state" onclick="delete_attached('del_p3','file_p3')" disabled="disabled">Eliminar soporte</button>
      </div>
    </div>
    <br><hr>
    


</div>


<br><hr>

<div class "row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <button type="submit" class="state" name="continuar" formaction="validar6">Continuar</button>
  </div>
</div>
</div>
</form>

<br>

</div>
</body>
</html>

