<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <title>Conexión salud</title>
  <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
  <link rel="stylesheet" href="static/bootstrap-theme.min.css">
  <!-- <link rel="stylesheet" href="static/preg_style.css"> -->
  <link rel="stylesheet" href="static/radio_checks.css">		<link rel="stylesheet" href="static/header-login-signup.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="static/jscripts.js"></script>
  <link rel="stylesheet" href="static/index_style.css">

  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

<body onload="set_rtas()">
	<div class="wrapper">
		<script type="text/javascript">   
        var Rtas = {{Rtas|safe}}
		</script>
		<div class="topnav">
      <div class="logo_nav">
          <img src="static/logos/banner-encuesta.png" class="img-responsive">
      </div>
		</div>
		<div class="topnav" id="myTopnav">				
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/modulos">Encuesta</a></li>
			<li><a href="/instructivo">Tutorial</a></li>
			<li><a href="/contacto">Contacto</a></li>
			<!-- <li><a href="/faqs">Preguntas frecuentes</a></li> -->
			<li><a href="/logout">&#9949; Cerrar Sesión</a></li>
			<li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>	
		</ul>	
		</div>




  <form enctype=multipart/form-data class="register" method="post" id="form_mod5">
    <input type="submit" formaction="validar5" style="visibility: hidden; display: none;">

      <p class="title"> MÓDULO 5. Estándares e Interoperabilidad 
          <a  data-toggle="tooltip" onclick="alerta('La interoperabilidad hace referencia a la comunicación entre diferentes tecnologías y aplicaciones de software para el intercambio y uso de datos en forma eficaz, precisa y sólida.')">
              <i class="fa fa-question-circle" style=font-size:24px></i></a>
      </p>
      
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question1"><h4>1. ¿Qué tipo de estándar técnico utiliza en la Historia Clínica Electrónica?
      <!-- <a  data-toggle="tooltip" onclick="alerta('HL7: es un conjunto de estándares para facilitar el intercambio electrónico de información clínica.\n\nISO: Es la Organización Internacional de Normalización crea estándares internacionales compuesta por diversas organizaciones nacionales de estandarización\n\nIEEE: Normas dadas por el Instituto de Ingeniería Eléctrica y Electrónica\n\nDICOM: Imagen Digital y Comunicación en Medicina.\n\nDe ser necesario escoja varias opciones')">
      <i class="fa fa-question-circle" style=font-size:24px></i></a> -->
    </h4></label>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <label><input type="checkbox" id="question1a" ondragover="" class="option-input checkbox" name="question1" value="HL7"> HL7</label><br>
    <label><input type="checkbox" id="question1b" ondragover="" class="option-input checkbox" name="question1" value="ISO"> ISO</label><br>
    <label><input type="checkbox" id="question1c" ondragover="" class="option-input checkbox" name="question1" value="IEEE"> IEEE</label><br>
    <label><input type="checkbox" id="question1d" ondragover="" class="option-input checkbox" name="question1" value="DICOM"> DICOM</label><br>
    <label><input type="checkbox" id="question1e_hab" ondragover="" class="option-input checkbox" name="question1" value="Otros" 
      onclick="Checkb(this,q1Otro);inputOn(this,'question1_otro');"> Otros</label><br>
    <br>
    <div class="hidden" id="q1Otro">
        <input type="text" onkeypress="return textonly(event);" id="question1_otro" maxlength="200" 
        name="INGPquestion1_otro" disabled="disabled" /></label>
    </div>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question2"><h4>2. ¿Qué tipo de estándares de codificación utiliza Historia Clínica Electrónica?
        <!-- <a  data-toggle="tooltip" onclick="alerta('Estándares de codificación son las estrategias utilizadas por los programas que permiten gestionar la historia clínica electrónica.\n\nDe ser necesario escoja varias respuestas')">
        <i class="fa fa-question-circle" style=font-size:24px></i></a> -->
    </h4></label>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <label><input type="checkbox" id="question2a" ondragover="" class="option-input checkbox" name="question2" value="CUP"> CUP</label><br>
    <label><input type="checkbox" id="question2b" ondragover="" class="option-input checkbox" name="question2" value="CIE-10"> CIE-10</label><br>
    <label><input type="checkbox" id="question2c" ondragover="" class="option-input checkbox" name="question2" value="SNOMED"> SNOMED</label><br>
    <label><input type="checkbox" id="question2d" ondragover="" class="option-input checkbox" name="question2" value="LOINC"> LOINC</label><br>
    <label><input type="checkbox" id="question2e" ondragover="" class="option-input checkbox" name="question2" value="NCPDP"> NCPDP</label><br>
    <label><input type="checkbox" id="question2f_hab" ondragover="" class="option-input checkbox" name="question2" value="Otros" 
    onclick="Checkb(this,q2Otro);inputOn(this,'question2_otro');"> Otros</label><br>
    <br>
    <div class="hidden" id="q2Otro">
      <input type="text" id="question2_otro" maxlength="200" name="INGPquestion2_otro" disabled="disabled" /></label><br>
    </div>
  </div>
</div>

<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question3"><h4>3. ¿Conoce el marco de interoperabilidad del Estado colombiano?
    </h4></label>
      <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
   <input type="radio" class="option-input radio" id="q3question1_hab" name="question3" value="SI" 
   onclick="yesnoCheck(this, q4cont, qn4);"> SI<br>
   <input type="radio" class="option-input radio" id="q3question2" name="question3" value="NO" 
   onclick="yesnoCheck(this,qn4,q4cont);clear_inputs('q4cont');"> NO<br>
    <br>
  </div>
</div>


<div class="hidden" id="qn4"></div>

<div class="hidden" id="q4cont">
  <br><hr>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="question4"><h4>4. ¿La institución cuenta con procesos que cumplan con el concepto de interoperabilidad?
          <!-- <a  data-toggle="tooltip" onclick="alerta('Se refiere a software adicional o procesos realizados al interior de la institución para facilitar la interoperabildiad')">
          <i class="fa fa-question-circle" style=font-size:24px></i></a> -->
      </h4>
    </label>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <input type="radio" class="option-input radio" id="q4question1" name="question4" value="SI" > SI<br>
    <input type="radio" class="option-input radio" id="q4question2" name="question4" value="NO" > NO<br>
      <br>
    </div>
  </div>
</div>
<br><hr>

<div class "row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <button type="submit" class="state" name="continuar" formaction="validar5">Guardar respuestas</button>
    </div>
  </div>
  </div>
  </form>

<br>

</div>
</body>
</html>

