<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
		<title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/preg_style.css">
    <link rel="stylesheet" href="static/radio_checks.css">
    <link rel="stylesheet" href="static/header-login-signup.css">

		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

   <script>
	   //Mostrar opcion para borrar adjunto
	   function enb_dis(btn_att,btn_del)
	   {
			var x = document.getElementById(btn_att);
			var input = document.getElementById(btn_del);
			if ('files' in x)
			{
			   input.disabled = false;
			   input.focus();
			}
			else
			{
			   input.disabled = true;
			}
	   }
	   //Borrar archivo adjunto
	   function delete_attached(btn_del,name)
		{
			document.getElementById(name).value = "";
			document.getElementById(btn_del).disabled = true;
    }
    
    function yesnoCheck(questionIDYesNO, questionIDYes, questionIDNO) {
      
      
      if (questionIDYesNO.checked) {
        $(questionIDYes).removeClass("hidden");
        $(questionIDNO).addClass("hidden");

      }

    }

   </script>

<body>
    <div class="topnav" id="myTopnav">				
				<div class="logo">
					<a href="/">
					<img src="static/Logos_header.png" class="img-responsive">
					</a>
				</div>
		</div>
<div class="wrapper">




  <form enctype=multipart/form-data action="analisis" class="register" method="post">
      <p class="title"> 
        MÓDULO 6. Habilidades en el uso de TIC
        </p>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question1"><h4>Tecnologías y servicios para el talento humano que labora en la institución</h4></label>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question2"><h4>1. ¿Hay computadores disponibles para el personal (Talento humano) que labora en la institución? Computadores que puedan ser utilizados en los períodos de descanso.</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question1" name="question2" value="1" required>SI<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question2" name="question2" value="2" required>NO<br>
  </div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p2" name="file_p2" accept="image/*,video/*" onchange="enb_dis('file_p2','del_p2')"/>
    <br><br>
    <button type="button" id="del_p2" class="state" onclick="delete_attached('del_p2','file_p2')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>






<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question3"><h4>2. ¿Qué tipo de computadores o PC posee la institución?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question3" ondragover="" class="option-input checkbox" name="cboxq3" value="1"> Computador de escritorio</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question3" ondragover="" class="option-input checkbox" name="cboxq3" value="2"> Computador Portatil</label><br>
  </div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p3" name="file_p3" accept="image/*,video/*" onchange="enb_dis('file_p3','del_p3')"/>
    <br><br>
    <button type="button" id="del_p3" class="state" onclick="delete_attached('del_p3','file_p3')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question4"><h4>3. En promedio, ¿Cuántos computadores posee la institución?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Computador de escritorio</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q4f1" name="q4f1" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Computador Portatil</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q4f2" name="q4f2" placeholder="0" required><br>
</div>
</div>
    <br>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p4" name="file_p4" accept="image/*,video/*" onchange="enb_dis('file_p4','del_p4')"/>
    <br><br>
    <button type="button" id="del_p4" class="state" onclick="delete_attached('del_p4','file_p4')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question5"><h4>4. ¿Cuál es el uso que el personal de la institución da a los computadores?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question5" ondragover="" class="option-input checkbox" name="cboxq5" value="1"> Personal</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question5" ondragover="" class="option-input checkbox" name="cboxq5" value="2"> Familiar</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question5" ondragover="" class="option-input checkbox" name="cboxq5" value="3"> Laboral</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" class="option-input checkbox" id="question5" name="cboxq5" value="4" onclick="var input=document.getElementById('name5'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Otro<br><input id="name5" name="name5" disabled="disabled"/></label><br>

  </div>
</div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p5" name="file_p5" accept="image/*,video/*" onchange="enb_dis('file_p5','del_p5')"/>
    <br><br>
    <button type="button" id="del_p5" class="state" onclick="delete_attached('del_p5','file_p5')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question6"><h4>5. En promedio, ¿cuál es el grado de conocimientos del personal de la institución en el uso de computadores?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	 <input type="radio" class="option-input radio" id="question1" name="question6" value="1" required>Experto<br>
	 <input type="radio" class="option-input radio" id="question2" name="question6" value="2" required>Avanzado<br>
	 <input type="radio" class="option-input radio" id="question3" name="question6" value="3" required>Intermedio<br>
	 <input type="radio" class="option-input radio" id="question4" name="question6" value="4" required>Básico<br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p6" name="file_p6" accept="image/*,video/*" onchange="enb_dis('file_p6','del_p6')"/>
    <br><br>
    <button type="button" id="del_p6" class="state" onclick="delete_attached('del_p6','file_p6')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question7"><h4>6. ¿El personal de la institución, sabe cómo activar y desactivar en el celular y/ o computador las siguientes funciones?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="1"> Redes WiFi/Datos </label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="2"> Compartir Internet </label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="3"> GPS</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="4"> Rotar Pantalla</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="5"> Seguridad Bloqueo (Clave/Patrón) </label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="6"> Bloquear Aplicaciones </label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="7"> Modo Avión</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="8"> Volumen/lenciar </label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="9"> Capturar Pantalla </label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="10"> Bluetooth</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="11"> ncronización Automática</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="12"> Ahorrador de Energía </label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <label><input type="checkbox" id="question7" ondragover="" class="option-input checkbox" name="cboxq7" value="13"> Resetear el Dispotivo </label><br>
  </div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p7" name="file_p7" accept="image/*,video/*" onchange="enb_dis('file_p7','del_p7')"/>
    <br><br>
    <button type="button" id="del_p7" class="state" onclick="delete_attached('del_p7','file_p7')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question8"><h4>7. ¿Cuál es el programa o aplicación más utilizada en los computadores de la institución?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question8" ondragover="" class="option-input checkbox" name="cboxq8" value="1"> MS Word</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question8" ondragover="" class="option-input checkbox" name="cboxq8" value="2"> MS Excel</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question8" ondragover="" class="option-input checkbox" name="cboxq8" value="3"> MS PowerPoint</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question8" ondragover="" class="option-input checkbox" name="cboxq8" value="4"> MS Publisher</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question8" ondragover="" class="option-input checkbox" name="cboxq8" value="5"> Adobe Acrobat</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" class="option-input checkbox" id="question8" name="cboxq8" value="6" onclick="var input=document.getElementById('name5'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Otro<br><input id="name5" name="name5" disabled="disabled"/></label><br>
  </div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p8" name="file_p8" accept="image/*,video/*" onchange="enb_dis('file_p8','del_p8')"/>
    <br><br>
    <button type="button" id="del_p8" class="state" onclick="delete_attached('del_p8','file_p8')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question9"><h4>Dispositivo Móvil / Celular</h4></label>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question10"><h4>8. ¿La institución dispone de planes de celular Inteligente (Smartphone) para sus colaboradores?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question1" name="question10" value="1" required>SI<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question2" name="question10" value="2" required>NO<br>
  </div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p10" name="file_p10" accept="image/*,video/*" onchange="enb_dis('file_p10','del_p10')"/>
    <br><br>
    <button type="button" id="del_p10" class="state" onclick="delete_attached('del_p10','file_p10')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question11"><h4>9. Marca y modelo del celular:</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Samsung</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f1" name="q11f1" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Iphone</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f2" name="q11f2" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Sony</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f3" name="q11f3" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Motorola</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f4" name="q11f4" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Nokia</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f5" name="q11f5" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>HTC</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f6" name="q11f6" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>LG Electronics</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f7" name="q11f7" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Huawei</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f8" name="q11f8" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Asus</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f9" name="q11f9" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Alcatel</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f10" name="q11f10" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Lanix</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f11" name="q11f11" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Blu</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f12" name="q11f12" placeholder="0" required><br>
</div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>One+</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q11f13" name="q11f13" placeholder="0" required><br>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
  <label>Otro</label>
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
<input type="text" id="q11f13" name="q11f14" placeholder="Cual" required><br>
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
  <input type="text" id="q11f13" name="q11f15" placeholder="0" required><br>
  </div>
</div>
    <br>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p11" name="file_p11" accept="image/*,video/*" onchange="enb_dis('file_p11','del_p11')"/>
    <br><br>
    <button type="button" id="del_p11" class="state" onclick="delete_attached('del_p11','file_p11')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question12"><h4>10. ¿Cuál es el proveedor del servicio de internet móvil de la institución?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question12" ondragover="" class="option-input checkbox" name="cboxq12" value="1"> Claro</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question12" ondragover="" class="option-input checkbox" name="cboxq12" value="2"> Teléfonica/Movistar</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question12" ondragover="" class="option-input checkbox" name="cboxq12" value="3"> Une</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question12" ondragover="" class="option-input checkbox" name="cboxq12" value="4"> ETB</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question12" ondragover="" class="option-input checkbox" name="cboxq12" value="5"> EPM</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" class="option-input checkbox" id="question12" name="cboxq12" value="5" onclick="var input=document.getElementById('name5'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Otro<br><input id="name5" name="name5" disabled="disabled"/></label><br>
  </div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p12" name="file_p12" accept="image/*,video/*" onchange="enb_dis('file_p12','del_p12')"/>
    <br><br>
    <button type="button" id="del_p12" class="state" onclick="delete_attached('del_p12','file_p12')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question13"><h4>11. ¿Cuál es el tipo de plan con el operador del servicio de telefonía móvil?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question1" name="question13" value="1" required>Prepago<br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	 <input type="radio" class="option-input radio" id="question2" name="question13" value="2" required>Postpago<br>
  </div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p13" name="file_p13" accept="image/*,video/*" onchange="enb_dis('file_p13','del_p13')"/>
    <br><br>
    <button type="button" id="del_p13" class="state" onclick="delete_attached('del_p13','file_p13')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question14"><h4>12. ¿La institución cuenta con alguna de las siguientes aplicaciones?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question14" ondragover="" class="option-input checkbox" name="cboxq14" value="1"> Facebook</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question14" ondragover="" class="option-input checkbox" name="cboxq14" value="2"> Instagram</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question14" ondragover="" class="option-input checkbox" name="cboxq14" value="3"> WhatsApp</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question14" ondragover="" class="option-input checkbox" name="cboxq14" value="4"> YouTube</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question14" ondragover="" class="option-input checkbox" name="cboxq14" value="5"> Google+</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question14" ondragover="" class="option-input checkbox" name="cboxq14" value="6"> Twitter</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question14" ondragover="" class="option-input checkbox" name="cboxq14" value="7"> MySpace</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question14" ondragover="" class="option-input checkbox" name="cboxq14" value="8"> Snapchat</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" class="option-input checkbox" id="question14" name="cboxq14" value="9" onclick="var input=document.getElementById('name5'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Otro<br><input id="name5" name="name5" disabled="disabled"/></label><br>

  </div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p14" name="file_p14" accept="image/*,video/*" onchange="enb_dis('file_p14','del_p14')"/>
    <br><br>
    <button type="button" id="del_p14" class="state" onclick="delete_attached('del_p14','file_p14')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>


<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question15"><h4>13. ¿Cuál es la aplicación más utilizada por la institución?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="1"> Facebook</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="2"> Instagram</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="3"> WhatsApp</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="4"> YouTube</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="5"> Skype</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="6"> Twitter</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="7"> Telegram</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="8"> SnapChat</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="9"> MySpace</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="10"> Spotify</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="11"> Dezeer</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="12"> TuneIN Radio</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="13"> Netflix</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" id="question15" ondragover="" class="option-input checkbox" name="cboxq15" value="14"> Fox Play</label><br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <label><input type="checkbox" class="option-input checkbox" id="question15" name="cboxq15" value="9" onclick="var input=document.getElementById('name5'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Otro<br><input id="name5" name="name5" disabled="disabled"/></label><br>

  </div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p15" name="file_p15" accept="image/*,video/*" onchange="enb_dis('file_p15','del_p15')"/>
    <br><br>
    <button type="button" id="del_p15" class="state" onclick="delete_attached('del_p15','file_p15')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class "row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a class="state" href="/">Volver</a>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a type="btn_att submit" class="state" href="preguntas">Continuar</button>
  </div>
</div>
<br>
<div class "row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <button type="submit" class="state">Ver los resultados</button>
  </div>
</div>
</div>
</form>

<br>
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}

      {% for message in messages %}
          {% if "Error" not in message[1]: %}
              <div class="alert alert-info">
              <strong>Success! </strong> {{ message[1] }}
              </div>
          {% endif %}

          {% if "Error" in message[1]: %}
              <div class="alert alert-warning">
              {{ message[1] }}
              </div>
          {% endif %}
      {% endfor %}
          {% endif %}
      {% endwith %}





</div>
</body>
</html>

