<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
		<title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/preg_style.css">
    <link rel="stylesheet" href="static/radio_checks.css">
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

   <script>
	   //Mostrar opcion para borrar adjunto
	   function enb_dis(btn_att,btn_del)
	   {
			var x = document.getElementById(btn_att);
			var input = document.getElementById(btn_del);
			if ('files' in x)
			{
			   input.disabled = false;
			   input.focus();
			}
			else
			{
			   input.disabled = true;
			}
	   }
	   //Borrar archivo adjunto
	   function delete_attached(btn_del,name)
		{
			document.getElementById(name).value = "";
			document.getElementById(btn_del).disabled = true;
		}
   </script>

<body>
<div class="wrapper">
  <div class="jumbotron text-center">
    <h2>Estudio sobre el nivel de madurez del <br> ecosistema de TIC en las IPS públicas</h2>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="static/udea.jpg" width="30%">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="static/colciencias.png"  width="40%">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="static/mintic.png"  width="100%">
      </div>
    </div>
  </div>



  <form enctype=multipart/form-data action="analisis" class="register" method="post">
      <p class="title"> 
        MÓDULO 1: Descripción de la institución de salud
        </p>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question1"><h4>1. Tipos de atención brindados en esta institución:</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayudaa"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="cboxq1" value="1"> Ambulatorios</label><br>
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="cboxq1" value="2"> Internación</label><br>
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="cboxq1" value="3"> Quirúrgicos</label><br>
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="cboxq1" value="4"> Emergencias</label><br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p1" name="file_p1" accept="image/*,video/*" onchange="enb_dis('file_p1','del_p1')"/>
    <br><br>
    <button type="button" id="del_p1" class="state" onclick="delete_attached('del_p1','file_p1')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question2"><h4>2. Si es su prestador de servicios un Hospital [HOS] responda</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayudaa"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <label>Número de camas:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q2f1" name="q2f1" placeholder="0" required><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <label>Número de camas en la unidad de cuidados intensivos:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q2f2" name="q2f2" placeholder="0" required><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <label>Número de médicos generales:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q2f3" name="q2f3" placeholder="0" required><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <label>Número de médicos especialistas /subespecialistas:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q2f4" name="q2f4" placeholder="0" required><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <label>Promedio de pacientes hospitalizados/año en los últimos tres años: </label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q2f5" name="q2f5" placeholder="0" required><br>
  </div>
</div>
    <br>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p2" name="file_p2" accept="image/*,video/*" onchange="enb_dis('file_p2','del_p2')"/>
    <br><br>
    <button type="button" id="del_p2" class="state" onclick="delete_attached('del_p2','file_p2')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question3"><h4>3. ¿Cuántos Profesionales de la salud están laborando en la institución?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayudaa"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<!-- <div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Médico(a) General:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q3f1" name="q3f1" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Médico(a) Especialista:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q3f2" name="q3f2" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Odontólogo(a):</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q3f3" name="q3f3" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Nutricionista:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q3f4" name="q3f4" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Enfermero(a) Profesional:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q3f5" name="q3f5" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Fisioterapeuta:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q3f6" name="q3f6" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Fonoaudiólogo(a):</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q3f7" name="q3f7" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Instrumentador</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q3f8" name="q3f8" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Optómetra:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q3f9" name="q3f9" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Psicólogo:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q3f10" name="q3f10" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Bacteriólogo:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q3f11" name="q3f11" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Químico Farmacéutico:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q3f12" name="q3f12" placeholder="0" required><br>
  </div>
<!--</div>-->
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <br>
      <label>Otro:</label>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <input type="text" id="q3f13" name="q3f13" placeholder="Cuál?" required><br>
    <input id="name3" name="name3"  placeholder="Cuántos?"/></label>
  </div>
</div>
    <br>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p3" name="file_p3" accept="image/*,video/*" onchange="enb_dis('file_p3','del_p3')"/>
    <br><br>
    <button type="button" id="del_p3" class="state" onclick="delete_attached('del_p3','file_p3')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question4"><h4>4. ¿Cuántos auxiliares/técnicos/tecnólogos de la salud están laborando en su institución?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayudaa"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <label>Auxiliar de Enfermería:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <input type="text" id="q4f1" name="q4f1" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Auxiliar de Salud Oral:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <input type="text" id="q4f2" name="q4f2" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Auxiliar de Salud Publica:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <input type="text" id="q4f3" name="q4f3" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Auxiliar de Servicios farmacéuticos:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <input type="text" id="q4f4" name="q4f4" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Técnico en atención prehospitalaria:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <input type="text" id="q4f5" name="q4f5" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Tecnólogo en atención prehospitalaria:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <input type="text" id="q4f6" name="q4f6" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Tecnólogo en regencia de farmacia:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <input type="text" id="q4f7" name="q4f7" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Tecnólogo en radiodiagnóstico y radioterapia:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <input type="text" id="q4f8" name="q4f8" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Tecnólogo en radiología e imágenes diagnósticas:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <input type="text" id="q4f9" name="q4f9" placeholder="0" required><br>
  </div>
</div>
<br>

<div class="row">

  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

      <label>Otro:</label>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <input type="text" id="q4f10" name="q4f10" placeholder="Cuál?" required><br>
    <input id="name4" name="name4"  placeholder="Cuántos?"/></label>
  </div>
</div>
    <br>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p4" name="file_p4" accept="image/*,video/*" onchange="enb_dis('file_p4','del_p4')"/>
    <br><br>
    <button type="button" id="del_p4" class="state" onclick="delete_attached('del_p4','file_p4')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question5"><h4>5. ¿Cuántos Profesionales NO afines a la salud están laborando en su institución?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayudaa"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Administrador:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q5f1" name="q5f1" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Ingeniero:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q5f2" name="q5f2" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Biongeniero o Biomedico:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q5f3" name="q5f3" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Contador:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q5f4" name="q5f4" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Abogado:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q5f5" name="q5f5" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Periodista:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q5f6" name="q5f6" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Publicista:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q5f7" name="q5f7" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <label>Físico:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q5f8" name="q5f8" placeholder="0" required><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <label>Otro:</label>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <input type="text" id="q5f9" name="q5f9" placeholder="Cuál?" required><br>
    <input id="name5" name="name5"  placeholder="Cuántos?"/></label>
  </div>
</div>
    <br>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p5" name="file_p5" accept="image/*,video/*" onchange="enb_dis('file_p5','del_p5')"/>
    <br><br>
    <button type="button" id="del_p5" class="state" onclick="delete_attached('del_p5','file_p5')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question6"><h4>6. ¿Cuántos profesionales están laborando en el área administrativa en su institución?</h4></label>
    <a href="#" data-toggle="tooltip" title="Ayuda"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Directivos:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q6f1" name="q6f1" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Gerentes de información en salud:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q6f2" name="q6f2" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Agente:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q6f3" name="q6f3" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Auxilar Administrativo:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q6f4" name="q6f4" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Auxiliar operativo:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q6f5" name="q6f5" placeholder="0" required><br>
  </div>
<!--</div>-->
<!--<div class="row">-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Servicios Generales:</label>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
    <input type="text" id="q6f6" name="q6f6" placeholder="0" required><br>
  </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label>Otro:</label>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <input type="text" id="q6f7" name="q6f7" placeholder="Cuál?" required><br>
    <input id="name6" name="name6"  placeholder="Cuántos?"/></label>
  </div>
</div>
    <br>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <label>Adjuntar soporte:</label>
    <input type="file" id="file_p6" name="file_p6" accept="image/*,video/*" onchange="enb_dis('file_p6','del_p6')"/>
    <br><br>
    <button type="button" id="del_p6" class="state" onclick="delete_attached('del_p6','file_p6')" disabled="disabled">Eliminar soporte</button>
  </div>
</div>
<br><hr>
<div class "row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a class="state" href="/">Volver</a>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a type="btn_att submit" class="state" href="preguntas">Continuar</button>
  </div>
</div>
<br>
<div class "row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <button type="submit" class="state">Ver los resultados</button>
  </div>
</div>
</div>
</form>

<br>
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}

      {% for message in messages %}
          {% if "Error" not in message[1]: %}
              <div class="alert alert-info">
              <strong>Success! </strong> {{ message[1] }}
              </div>
          {% endif %}

          {% if "Error" in message[1]: %}
              <div class="alert alert-warning">
              {{ message[1] }}
              </div>
          {% endif %}
      {% endfor %}
          {% endif %}
      {% endwith %}





</div>
</body>
</html>

