<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <title>Conexión salud</title>
  <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
  <link rel="stylesheet" href="static/bootstrap-theme.min.css">
  <!-- <link rel="stylesheet" href="static/preg_style.css"> -->
  <link rel="stylesheet" href="static/radio_checks.css">		<link rel="stylesheet" href="static/header-login-signup.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="static/jscripts.js"></script>
  <link rel="stylesheet" href="static/index_style.css">

  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

   <script>
	   //Mostrar opcion para borrar adjunto
	   function enb_dis(btn_att,btn_del)
	   {
			var x = document.getElementById(btn_att);
			var input = document.getElementById(btn_del);
			if ('files' in x)
			{
			   input.disabled = false;
			   input.focus();
			}
			else
			{
			   input.disabled = true;
			}
	   }
	   //Borrar archivo adjunto
	   function delete_attached(btn_del,name)
		{
			document.getElementById(name).value = "";
			document.getElementById(btn_del).disabled = true;
    }
    
   </script>

<body>
	<div class="wrapper">
		<script type="text/javascript">   
			var LogVal = {{LogFlag|safe}}           
		</script>
		<div class="topnav">
      <div class="logo_nav">
          <img src="static/logos/banner-encuesta.png" class="img-responsive">
      </div>
		</div>
		<div class="topnav" id="myTopnav">				
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/modulos">Encuesta</a></li>
			<li><a href="/instructivo">Tutorial</a></li>
			<li><a href="/contacto">Contacto</a></li>
			<!-- <li><a href="/faqs">Preguntas frecuentes</a></li> -->
			<li><a href="/logout">&#9949; Cerrar Sesión</a></li>
			<li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>	
		</ul>	
		</div>




  <form enctype=multipart/form-data class="register" method="post" id="form_mod5">
    <input type="submit" formaction="validar5" style="visibility: hidden; display: none;">

      <p class="title"> MÓDULO 5. Estándares e Interoperabilidad </p>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question1"><h4>1. ¿Qué tipo de estándar técnico utiliza en la Historia Clínica Electrónica?</h4></label>
    <a  data-toggle="tooltip" title=
"Se refiere a los diferentes estándares para manejo de datos como signos vitales, imágenes médicas, información de laboratorio"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="question1" value="HL7"> HL7</label><br>
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="question1" value="ISO"> ISO</label><br>
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="question1" value="IEEE"> IEEE</label><br>
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="question1" value="DICOM"> DICOM</label><br>
    <label><input type="checkbox" id="question1" ondragover="" class="option-input checkbox" name="question1" value="Otros"> Otros</label><br>
    <br>
  </div>
</div>
<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question2"><h4>2. ¿Qué tipo de estándares de codificación utiliza Historia Clínica Electrónica?</h4></label>
    <a  data-toggle="tooltip" title=
"Estándares de codificación son las estrategias utilizadas por los programas que permiten gestionar la historia clínica electrónica"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question2" value="CUP"> CUP</label><br>
    <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question2" value="CIE-10"> CIE-10</label><br>
    <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question2" value="SNOMED"> SNOMED</label><br>
    <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question2" value="LOINC"> LOINC</label><br>
    <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question2" value="NCPDP"> NCPDP,</label><br>
    <label><input type="checkbox" id="question2" ondragover="" class="option-input checkbox" name="question2" value="Otros"> Otros</label><br>
    <br>
  </div>
</div>

<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question3"><h4>3. ¿Conoce el marco de interoperabilidad del Estado colombiano?</h4></label>
    <a  data-toggle="tooltip" title=
"Marco de interoperabilidad son las estrategias para lograr que los sistemas que manejan datos clínicos puedan comunicarse automáticamente y compartir información"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	 <input type="radio" class="option-input radio" id="question1" name="question3" value="SI" >SI<br>
	 <input type="radio" class="option-input radio" id="question2" name="question3" value="NO" >NO<br>
    <br>
  </div>
</div>

<br><hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="question4"><h4>4. ¿La institución cuenta con procesos que cumplan con el concepto de interoperabilidad?</h4></label>
    <a  data-toggle="tooltip" title=
"Se refiere a software adicional o procesos realizados al interior de la institución para facilitar la interoperabildiad"><i class="fa fa-question-circle" style=font-size:24px></i></a><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	 <input type="radio" class="option-input radio" id="question1" name="question4" value="SI" >SI<br>
	 <input type="radio" class="option-input radio" id="question2" name="question4" value="NO" >NO<br>
    <br>
  </div>
</div>
<br><hr>

<div class "row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <button type="submit" class="state" name="continuar" formaction="validar5">Guardar respuestas</button>
    </div>
  </div>
  </div>
  </form>

<br>





</div>
</body>
</html>

