<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
		<title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>
		<link rel="stylesheet" href="static/reg_style.css">
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="static/jscripts.js"></script>
    </head>
    <body>

    <!-- Funciones javascript -->
    <script type="text/javascript">
        var IPSLists = {{dict_IPS|safe}}
    </script>
    <!-- Funciones javascript -->

              
	<div class="topnav" id="myTopnav">	
			<a href="/">
				<img src="static/Logos_header.png" width="80%" class="img-responsive">
			</a>
	</div>

    <div class="wrapper">
    <form  action="preguntas" class="register" method="post">

    	<p class="title">INFORMACIÓN GENERAL DE LA INSTITUCIÓN DE SALUD</p>
        <div class = "row">
            <!-- Campo para departamento -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<label >Departamento: </label>
				<input type="text" id="dpto" name="dpto" value="{{dpto}}" readonly="true">
            </div>
            <!-- Campo para ciudad -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<label>Municipio: </label>
				<input type="text" id="city" name="city" value="{{city}}" readonly="true">
            </div>
        </div>

		<br>

		<div class="row">
			<!--Campo para el Nombre de la IPS -->
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<label>Nombre del prestador de servicios:</label>
				<br>
				<input list="reg_ips" name="reg_ips" type="text" autofocus autocomplete="off" onchange="setfields(this.value)" placeholder="Nombre de IPS" required>
				<datalist id="reg_ips">
					{% for value in IPS %}
						<option  value = "{{value}}">{{value}}</option>
					{% endfor %}
				</datalist>
			</div>
			<!--Número de sedes asociadas-->
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <label>N° de sedes</label>
			    <br>
                <input type="tel" id="reg_numsede" name="reg_numsede" placeholder="N° de sedes">
            </div>	
			<!-- campo para Nivel de atención del prestador de servicios-->			
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
				<label>Nivel</label>
				<br>				
				<select id="nivel" name="nivel" required>
					<option value="">Seleccionar</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
            </div>
        </div>

		<br>

		<div class="row">		
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <!--Campo para el NIT -->
              <label>NIT del prestador de servicios</label>
			  <br>
              <input type="tel" id="nit" name="nit" placeholder="NIT" required>
            </div>			
            <!-- Campo para Naturaleza Jurídica del prestador de servicios-->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<label for="car">Naturaleza Jurídica</label>
				<br>
				<input type="text" id="reg_natjur" name="reg_natjur" placeholder="Naturaleza Jurídica">
            </div>
            <!-- Campo para Clase del prestador de servicios-->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<label for="car">Clase de Prestador</label>
				<br>
				<input type="text" id="reg_clase" name="reg_clase" placeholder="Clase de Prestador de servicios">
            </div>
		</div>

        <br>

		<div class="row">
			<!--Nombre de la sede asociada-->
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <label>Nombre de la sede asociada (Si aplica)</label>
			    <br>
                <input type="text" id="reg_sede" name="reg_sede" placeholder="Nombre de la sede asociada">
            </div>
			<!--Código de la sede asociada-->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label>Código de la sede</label>
			    <br>
                <input type="tel" id="reg_sede" name="reg_sede" placeholder="Código de la sede">
            </div>
	   </div>
		
		<br>

		<!-- RESPONSABLE DE LA ENCUESTA -->	
		<p class="title">INFORMACIÓN DE LA PERSONA ENCARGADA DE LA ENCUESTA</p>
        <div class="row">
            <!-- campo nombre responsable -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <label>Nombre de la persona encargada</label>
			  <br>
              <input type="text"  id="username" name="username" placeholder="Nombre de la persona encargada" required>
            </div>
            <!-- campo correo -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <label>Email de la persona encargada</label>
			  <br>
              <input type="text"  id="usermail" name="usermail" placeholder="ejemplo@mail.com" required>
            </div>
            <!-- campo cargo -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <label>Cargo de la persona encargada</label>
			  <br>
              <input type="text"  id="userjob" name="userjob" placeholder="Cargo que ocupa en la IPS" required>
            </div>
        </div>

        <br>

		<!-- COMIENZA: Botones -->
		<div class="row">
			<!-- Boton para continuar a la encuesta -->
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<button type="submit" class="state">Registrar IPS</button>
			</div>
			<!-- Boton para regresar-->
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<button onclick="goBack()" class="state">Volver</button>
			</div>
		</div>
		<!-- TERMINA: Botones -->

    </form>

    <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

<br>

</div>
</body>
</html>
