<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Conexión salud</title>
        <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/bootstrap-theme.min.css">
        <!-- <link rel="stylesheet" href="static/preg_style.css"> -->
        <link rel="stylesheet" href="static/radio_checks.css">		<link rel="stylesheet" href="static/header-login-signup.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="static/jscripts.js"></script>
        <link rel="stylesheet" href="static/index_style.css">
      
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<body>
     
	<div class="wrapper">
		<div class="topnav">
            <div class="logo_nav">
                <img src="static/logos/banner-encuesta.png" class="img-responsive">
            </div>
		</div>
		<div class="topnav" id="myTopnav">				
		<ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/modulos">Encuesta</a></li>
			<li><a href="/instructivo">Tutorial</a></li>
			<li><a href="/contacto">Contacto</a></li>
			<!-- <li><a href="/faqs">Preguntas frecuentes</a></li> -->
			<li><a href="/logout">&#9949; Cerrar Sesión</a></li>
			<li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>	
		</ul>	
        </div>
        
        <img src="static/logos/modulo_completado.png" class="img-responsive">
        
    </div>
</body>
</html>
