<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Estudio sobre el nivel de madurez del ecosistema de TIC en las IPS públicas</title>
        <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/bootstrap-theme.min.css">
        <!-- <link rel="stylesheet" href="static/preg_style.css"> -->
        <link rel="stylesheet" href="static/radio_checks.css">		<link rel="stylesheet" href="static/header-login-signup.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="static/jscripts.js"></script>
        <link rel="stylesheet" href="static/index_style.css">
      
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
<body>
	<div class="wrapper">
		<script type="text/javascript">   
			var LogVal = {{LogFlag|safe}}           
		</script>
		<div class="topnav">
			<div class="logo_nav">
				<a href="/">
					<img src="static/logos/logos.png" class="img-responsive">
				</a>				
			</div>
		</div>
		<div class="topnav" id="myTopnav">				
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/instructivo">Tutorial</a></li>
			<li><a href="/contacto">Contacto</a></li>
			<li><a href="/faqs">Preguntas frecuentes</a></li>
			<li><a href="/logout">&#9949; Cerrar Sesión</a></li>
			<li><a href="javascript:void(0);" id="icon" class="icon" onclick="toggle_menu('myTopnav')">&#9776;</a></li>	
		</ul>	
		</div>


  <form enctype=multipart/form-data action="adminips_{{nit}}" class="register" method="post">


    <div class="row">
        <p class="title">GRACIAS</p>
        <p>Sus respuestas han sido guardadas</p>

    </div>



<!-- 
	<div class= "row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<button onclick="/" class="state">Volver</button>
		<!-- </div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<button type="submit" class="state">Ver los resultados</button>
		</div> -->
	</div> 
  </form>

  <br>
        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %} -->





</div>
</body>
</html>
